.cta-double {
    background-color: $neutrals-100;

    &__cta {
        background-color: $primary-100;
        border: $border-card-thin;
        border-radius: $border-radius-medium;
        box-shadow: $card-shadow;
        margin-bottom: 16px;
        padding: 40px 16px;

        &:last-of-type {
            margin-bottom: 0;
        }

        h2 {
            margin-bottom: 24px;

            span {
                color: $primary-500;
            }
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .cta-double {
        &__cta {
            padding: 40px;
        }
    }
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .cta-double {
        &__container {
            display: flex;
            gap: 24px;
            justify-content: space-between;
        }

        &__cta {
            display: flex;
            flex: 0 0 1;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 0;
            width: 100%;
        }
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .cta-double {
        &__cta {
            h2 {
                font-size: 40px;
                line-height: 44px;
            }
        }
    }
}