.offices-section {
    background-color: $neutrals-200;

    &__header {
        &__title {
            margin-bottom: 16px;
        }

        &__intro {
            margin-bottom: 24px;
        }
    }

    .offices {
        .swiper-wrapper {
            height: auto !important;
            margin-bottom: 24px;
            overflow-y: visible;
        }

        .office {
            background-color: $neutrals-100;
            border-radius: $border-radius-medium;
            border: $border-card-thin;
            box-shadow: $card-shadow;
            padding: 24px;
            position: relative;

            &.headOffice {
                border: 2px solid $primary-500;

                .headOffice__label {
                    display: block;
                    color: $primary-500;
                    font-family: $title-font;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    position: absolute;
                    right: 24px;
                    top: 31px;
                }
            }

            .headOffice__label {
                display: none;
            }

            &__title {
                margin-bottom: 16px;
            }

            &__info {
                margin-bottom: 24px;

                &__item {
                    display: flex;
                    gap: 12px;
                    margin-bottom: 8px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    i {
                        color: $primary-500;
                        font-size: 16px;
                        height: 16px;
                        line-height: 22px;
                        width: 16px;
                    }

                    &__text {
                        color: $neutrals-900;
                        display: block;
                        font-family: $paragraph-font;
                        font-size: 16px;
                        line-height: 22px;
                    }
                }
            }

            &__directions {
                i {
                    color: $primary-500;
                }
            }
        }

        .swiper-pagination {
            bottom: 0px;
            left: 0 !important;
            margin: 0 auto;
            position: relative !important;
            transform: initial !important;

            &-bullet {
                background: $neutrals-900 !important;

                &-active {
                    background: $primary-500 !important;
                }
            }
        }
    }
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .offices-section {
        &__header {
            &__title {
                text-align: center;
            }
    
            &__intro {
                margin-bottom: 48px;
                text-align: center;
            }
        }
    }
}

/* DESKTOP 1280PX */
@media screen and (min-width: $desktop-1) {
    .offices-section {
        &__header {
            align-items: flex-start;
            display: flex;
            gap: 24px;
            justify-content: space-between;
            margin-bottom: 72px;

            &__title, &__intro {
                flex: 1 0;
                margin-bottom: 0;
                text-align: left;
            }
        }

        .offices {
            .swiper-wrapper {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 24px;

                .office {
                    width: 100% !important;
                }
            }
        }
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .offices-section {
        .offices {
            .swiper-wrapper {
                .office {
                    padding: 40px;
                    width: 100% !important;

                    &__title {
                        font-size: 32px;
                        line-height: 36px;
                        margin-bottom: 32px;
                    }

                    &__info {
                        margin-bottom: 32px;
                    }
                }
            }
        }
    }
}