// Light mode
.light-mode {
    .offices-section {
        background-color: $neutrals-200;
    
        .offices {
            .office {
                background-color: $neutrals-100;
                border: $border-card-thin;
    
                &.headOffice {
                    border: 2px solid $primary-500;
    
                    .headOffice__label {
                        color: $primary-500;
                    }
                }
                &__info {
                    &__item {
                        i {
                            color: $primary-500;
                        }
    
                        &__text {
                            color: $neutrals-900;
                        }
                    }
                }
    
                &__directions {
                    color: $neutrals-1000;

                    i {
                        color: $primary-500;
                    }
                }
            }
    
            .swiper-pagination {
                &-bullet {
                    background: $neutrals-900;
                }
            }
        }
    }
}

// Dark mode
.dark-mode {
    .offices-section {
        background-color: $neutrals-1000;
    
        .offices {
            .office {
                background-color: $dark-mode-grey-bg;
                border: $border-card-thin-dark-mode;
    
                &.headOffice {
                    border: 2px solid $primary-300;
    
                    .headOffice__label {
                        color: $primary-300;
                    }
                }
                &__info {
                    &__item {
                        i {
                            color: $neutrals-200;
                        }
    
                        &__text {
                            color: $neutrals-400;
                        }
                    }
                }
    
                &__directions {
                    color: $neutrals-200;

                    i {
                        color: $neutrals-200;
                    }
                }
            }
    
            .swiper-pagination {
                &-bullet {
                    background: $neutrals-700;
                }
            }
        }
    }
}

// Mobile styling
.offices-section {
    transition: all $transition-time-short ease-in-out;

    &__header {
        &__title {
            margin-bottom: 16px;
        }

        &__intro {
            margin-bottom: 24px;
        }
    }

    .offices {
        .swiper-wrapper {
            height: auto !important;
            margin-bottom: 24px;
            overflow-y: visible;
        }

        .office {
            border-radius: $border-radius-medium;
            box-shadow: $card-shadow;
            padding: 24px;
            position: relative;
            transition: all $transition-time-short ease-in-out;

            &.headOffice {
                transition: all $transition-time-short ease-in-out;

                .headOffice__label {
                    display: block;
                    font-family: $title-font;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    position: absolute;
                    right: 24px;
                    top: 31px;
                    transition: color $transition-time-short ease-in-out;
                }
            }

            .headOffice__label {
                display: none;
            }

            &__title {
                margin-bottom: 16px;
            }

            &__info {
                margin-bottom: 24px;

                &__item {
                    display: flex;
                    gap: 12px;
                    margin-bottom: 8px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    i {
                        font-size: 16px;
                        height: 16px;
                        line-height: 22px;
                        transition: color $transition-time-short ease-in-out;
                        width: 16px;
                    }

                    &__text {
                        display: block;
                        font-family: $paragraph-font;
                        font-size: 16px;
                        line-height: 22px;
                        transition: color $transition-time-short ease-in-out;
                    }
                }
            }

            &__directions {
                transition: all $transition-time-short ease-in-out;

                i {
                    transition: all $transition-time-short ease-in-out;
                }
            }
        }

        .swiper-pagination {
            bottom: 0px;
            left: 0 !important;
            margin: 0 auto;
            position: relative !important;
            transform: initial !important;

            &-bullet {
                transition: all $transition-time-short ease-in-out;

                &-active {
                    background: $primary-500 !important;
                }
            }
        }
    }
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .offices-section {
        &__header {
            &__title {
                text-align: center;
            }
    
            &__intro {
                margin-bottom: 48px;
                text-align: center;
            }
        }
    }
}

/* DESKTOP 1280PX */
@media screen and (min-width: $desktop-1) {
    .offices-section {
        &__header {
            align-items: flex-start;
            display: flex;
            gap: 24px;
            justify-content: space-between;
            margin-bottom: 72px;

            &__title, &__intro {
                flex: 1 0;
                margin-bottom: 0;
                text-align: left;
            }
        }

        .offices {
            .swiper-wrapper {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 24px;

                .office {
                    width: 100% !important;
                }
            }
        }
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .offices-section {
        .offices {
            .swiper-wrapper {
                .office {
                    padding: 40px;
                    width: 100% !important;

                    &.headOffice {
                        .headOffice__label {
                            top: 47px;
                            right: 40px;
                        }
                    }

                    &__title {
                        font-size: 32px;
                        line-height: 36px;
                        margin-bottom: 32px;
                    }

                    &__info {
                        margin-bottom: 32px;
                    }
                }
            }
        }
    }
}