// Light mode
.light-mode {
    .pricing-plans-section {
        background-color: $neutrals-600;
    }
}

// Dark mode
.dark-mode {
    .pricing-plans-section {
        background-color: $neutrals-1000;
    }
}

// Mobile styling
.pricing-plans-section {
    transition: all $transition-time-short ease-in-out;

    .pricing-plans-header {
        margin-bottom: 40px;

        h2 {
            margin-bottom: 16px;
        }
    }

    .pricing-plans {
        padding-top: 12px;

        .swiper-wrapper {
            margin-bottom: 16px;
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .pricing-plans-section {
        .pricing-plans .swiper-wrapper:has(.discount) {
            .pricing-plan-header {
                min-height: 209px;
            }
        }
    }
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .pricing-plans-section {
        .pricing-plans-header {
            padding: 0 130px;
            text-align: center;
        }
    }
}

/* DESKTOP - 1280px */
@media only screen and (min-width: $desktop-1) {
    .pricing-plans-section {
        .pricing-plans-header {
            margin: 0 auto 72px;
            max-width: 612px;
            padding: 0;
        }

        .pricing-plans .swiper-wrapper {
            display: flex;
            gap: 24px;
            justify-content: center;
        }
    }
}