.steps-section {
    background-color: $neutrals-200;

    &__title {
        margin-bottom: 16px;
    }

    &__intro {
        margin-bottom: 24px;
    }

    .steps {
        .swiper-wrapper {
            margin-bottom: 24px;

            .step {
                background-color: $neutrals-100;
                border-radius: $border-radius-medium;
                border: $border-card-thin;
                box-shadow: $card-shadow;
                height: 100%;
                padding: 24px;
                position: relative;

                &__number {
                    color: $primary-400;
                    display: block;
                    font-size: 24px;
                    font-family: $title-font;
                    font-weight: 600;
                    line-height: 24px;
                    position: absolute;
                    right: 24px;
                    top: 24px;
                }

                &__title {
                    margin-bottom: 8px;
                }
            }
        }
    }
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .steps-section {
        &__title {
            text-align: center;
        }
    
        &__intro {
            margin-bottom: 48px;
            text-align: center;
        }
    }
}

/* DESKTOP 1280PX */
@media screen and (min-width: $desktop-1) {
    .steps-section {
        &__intro {
            margin-bottom: 56px;
        }

        .steps {
            .swiper-wrapper {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 24px;
                height: auto !important;

                .step {
                    width: 100% !important;
                }
            }
        }
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .steps-section {
        &__intro {
            margin-bottom: 72px;
        }

        .steps {
            .swiper-wrapper {
                .step {
                    padding: 40px;

                    &__number {
                        font-size: 40px;
                        line-height: 40px;
                        right: 40px;
                        top: 32px;
                    }
    
                    &__title {
                        font-size: 24px;
                        line-height: 32px;
                        margin-bottom: 12px;
                    }
                }
            }
        }
    }
}