// Light mode
.light-mode {
    .contact {
        &__info {
            background-color: $neutrals-200;
    
            &__items {
                .info-item {
                    color: $neutrals-1100;
    
                    i {
                        color: $primary-500;
                    }
                }
            }
    
            .socials {
                .social {
                    background-color: $primary-500;
    
                    i {
                        color: $neutrals-100;
                    }
                }
            }
        }
    }
}

// Dark mode
.dark-mode {
    .contact {
        &__info {
            background-color: $dark-mode-grey-bg;
    
            &__items {
                .info-item {
                    color: $neutrals-200;
    
                    i {
                        color: $neutrals-200;
                    }
                }
            }
    
            .socials {
                .social {
                    background-color: $primary-500;

                    &:hover {
                        background-color: $primary-600;
                    }
    
                    i {
                        color: $neutrals-100;
                    }
                }
            }
        }
    }
}

// Mobile styling
.contact {
    &__info {
        padding: 48px 16px;
        transition: all $transition-time-short ease-in-out;

        h2 {
            margin-bottom: 16px;
        }

        p {
            margin-bottom: 16px;
        }

        &__items {
            margin-bottom: 32px;

            .info-item {
                display: block;
                line-height: 16px;
                margin-bottom: 8px;

                &:last-of-type {
                    margin-bottom: 0;
                }

                i {
                    margin-right: 6px;
                }
            }
        }
    }

    &__form-section {
        padding: 64px 16px;
        transition: all $transition-time-short ease-in-out;

        h2 {
            margin-bottom: 40px;
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .contact {
        &__info {
            padding: 64px 48px;
        }

        &__form-section {
            padding: 64px 48px;
        }
    }
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .light-mode {
        .contact {
            background-color: $primary-500;

            &__info {
                background-color: $primary-500;
    
                h2, p {
                    color: $neutrals-100;
                }
        
                &__items {
                    .info-item {
                        color: $neutrals-100;
        
                        i {
                            color: $neutrals-100;
                        }
                    }
                }
        
                .socials {
                    .social {
                        background-color: $neutrals-100;
        
                        i {
                            color: $primary-500;
                        }
                    }
                }
            }
    
            &__form-section {
                background-color: $neutrals-200;
            }
        }
    }

    .dark-mode {
        .contact {
            background-color: $dark-mode-grey-bg;
            border-top: $border-card-thin-dark-mode;

            &__form-section {
                background-color: $neutrals-1000;
            }
        }
    }

    .contact {
        align-items: flex-start;
        display: flex;
        justify-content: center;
        transition: all $transition-time-short ease-in-out;

        &__info,
        &__form-section {
            height: 100%;
            padding: 96px 48px;
        }

        &__info {
            width: 43%;
        }

        &__form-section {
            width: 57%;

            h2 {
                display: none;
            }

            .contact-form {
                .flex-desktop {
                    align-items: flex-start;
                    display: flex;
                    gap: 24px;
                    justify-content: space-between;

                    .input-group {
                        width: 100%;
                    }
                }
            }
        }
    }
}

/* DESKTOP - 1280px */
@media only screen and (min-width: $desktop-1) {
    .contact {
        &__info {
            padding: 96px 128px 96px 96px;

            p {
                margin-bottom: 24px;
            }

            .socials {
                margin-bottom: 32px;

                .social {
                    &:hover {
                        background-color: $primary-100;
                    }
                }
            }
        }

        &__form-section {
            padding: 96px;
        }
    }
}

/* DESKTOP 1440PX */
@media only screen and (min-width: $desktop-3) {
    .contact:not(.footer__section) {
        .contact__info {
            padding: 96px 0;
            width: 43%;

            &__container {
                max-width: 384px;
                margin: 0 130px 0px auto;
            }
        }

        .contact__form-section {
            padding: 96px 0px;
            width: 57%;

            .contact-form {
                &__container {
                    max-width: 636px;
                    margin: 0px auto 0px 96px;
                }
            }
        }
    }
}

/* DESKTOP 1750PX */
@media only screen and (min-width: 1750px) {
    .contact:not(.footer__section) {
        .contact__info {
            width: 44%;
        }

        .contact__form-section {
            width: 56%;
        }
    }
}

/* DESKTOP 2000PX */
@media only screen and (min-width: 2000px) {
    .contact:not(.footer__section) {
        .contact__info {
            width: 45%;
        }

        .contact__form-section {
            width: 55%;
        }
    }
}

/* DESKTOP - QHD */
@media only screen and (min-width: $desktop-qhd) {
    .contact:not(.footer__section) {
        .contact__info {
            width: 46%;
        }

        .contact__form-section {
            width: 54%;
        }
    }
}

/* DESKTOP - WQHD */
@media only screen and (min-width: $desktop-wqhd) {
    .contact:not(.footer__section) {
        .contact__info {
            width: 47%;
        }

        .contact__form-section {
            width: 53%;
        }
    }
}