.contact {
    &__info {
        padding: 48px 16px;
        background-color: $neutrals-200;

        h2 {
            margin-bottom: 16px;
        }

        p {
            margin-bottom: 16px;
        }

        &__items {
            margin-bottom: 32px;

            .info-item {
                display: block;
                color: $neutrals-1100;
                line-height: 16px;
                margin-bottom: 8px;

                &:last-of-type {
                    margin-bottom: 0;
                }

                i {
                    color: $primary-500;
                    margin-right: 6px;
                }
            }
        }

        .socials {
            .social {
                background-color: $primary-500;

                i {
                    color: $neutrals-100;
                }
            }
        }
    }

    &__form-section {
        padding: 64px 16px;

        h2 {
            margin-bottom: 40px;
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .contact {
        &__info {
            padding: 64px 48px;
        }

        &__form-section {
            padding: 64px 48px;
        }
    }
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .contact {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background-color: $primary-500;

        &__info,
        &__form-section {
            padding: 96px 48px;
            height: 100%;
        }

        &__info {
            width: 43%;
            background-color: $primary-500;

            h2, p {
                color: $neutrals-100;
            }
    
            &__items {
                .info-item {
                    color: $neutrals-100;
    
                    i {
                        color: $neutrals-100;
                    }
                }
            }
    
            .socials {
                .social {
                    background-color: $neutrals-100;
    
                    i {
                        color: $primary-500;
                    }
                }
            }
        }

        &__form-section {
            width: 57%;
            background-color: $neutrals-200;

            h2 {
                display: none;
            }

            .contact-form {
                .flex-desktop {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 24px;
                    margin-bottom: 16px;

                    .input-group {
                        width: 100%;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

/* DESKTOP - 1280px */
@media only screen and (min-width: $desktop-1) {
    .contact {
        &__info {
            padding: 96px 128px 96px 96px;

            p {
                margin-bottom: 24px;
            }

            .socials {
                margin-bottom: 32px;

                .social {
                    &:hover {
                        background-color: $primary-100;
                    }
                }
            }
        }

        &__form-section {
            padding: 96px;
        }
    }
}

/* DESKTOP - 1600px */
@media only screen and (min-width: $desktop-5) {
    .contact {
        &__info {
            padding: 96px 128px 96px 178px;
        }

        &__form-section {
            padding: 96px 178px 96px 96px;
        }
    }
}

/* DESKTOP - HD */
@media only screen and (min-width: $desktop-hd) {
    .contact {
        &__info {
            padding: 96px 128px 96px 336px;
            width: 45%;
        }

        &__form-section {
            padding: 96px 336px 96px 96px;
            width: 55%;
        }
    }
}

/* DESKTOP - QHD */
@media only screen and (min-width: $desktop-qhd) {
    .contact {
        &__info {
            padding: 96px 128px 96px 656px;
        }

        &__form-section {
            padding: 96px 656px 96px 96px;
        }
    }
}

/* DESKTOP - WQHD */
@media only screen and (min-width: $desktop-wqhd) {
    .contact {
        &__info {
            padding: 96px 128px 96px 1096px;
            width: 47%;
        }

        &__form-section {
            padding: 96px 1096px 96px 96px;
            width: 53%;
        }
    }
}

/* DESKTOP - 4K */
@media only screen and (min-width: $desktop-4k) {
    .contact {
        &__info {
            padding: 96px 128px 96px 1296px;
        }

        &__form-section {
            padding: 96px 1296px 96px 96px;
        }
    }
}