.header-contact {
    background-color: $neutrals-100;

    &__content {
        padding: 24px 16px 48px 16px;

        &__text {
            margin-bottom: 32px;

            h1 {
                margin-bottom: 16px;
            }

            p {
                margin-bottom: 16px;
            }
        }

        &__hours {
            h4 {
                margin-bottom: 16px;
            }

            &__item {
                align-items: center;
                display: flex;
                gap: 32px;
                justify-content: flex-start;
                margin-bottom: 2px;

                .day {
                    color: $neutrals-1100;
                    font-weight: 600;
                    line-height: 20px;
                    width: 78px;
                }

                .hour {
                    line-height: 20px;
                }
            }
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .header-contact {
        &__content {
            padding: 48px 48px 64px 48px;
        }
    }
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .header-contact {
        &__content {
            align-items: flex-start;
            display: flex;
            gap: 236px;
            justify-content: flex-start;

            &__text {
                max-width: 506px;
                width: 40%;
            }
        }
    }
}

/* DESKTOP - 1280px */
@media only screen and (min-width: $desktop-1) {
    .header-contact {
        &__content {
            padding: 88px 96px 96px 96px;

            &__text {
                p {
                    margin-bottom: 24px;
                }
            }

            &__hours {
                h4 {
                    margin-bottom: 24px;
                }
            }
        }
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .header-contact {
        &__content {
            max-width: 1248px;
            margin: 0 auto;
            padding: 88px 0 96px;

            &__text {
                .buttons {
                    .button {
                        i {
                            font-size: 16px;
                            line-height: 16px;
                        }
                    }
                }
            }
        }
    }
}