// Light mode
.light-mode {
    .keep-reading-section {
        background-color: $neutrals-200;

        .related-articles {
            background-color: $neutrals-100;
            border: $border-card-thin;
        }
    }
}

// Dark mode
.dark-mode {
    .keep-reading-section {
        background-color: $dark-mode-grey-bg;

        .related-articles {
            background-color: $neutrals-900;
            border: $border-card-thin-dark-mode;
        }
    }
}

// Mobile styling
.keep-reading-section {
    transition: all $transition-time-short ease-in-out;

    h2 {
        margin-bottom: 32px;
    }

    .related-articles {
        border-radius: $border-radius-medium;
        box-shadow: $card-shadow;
        padding: 24px;
        transition: all $transition-time-short ease-in-out;
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .keep-reading-section {
        .keep-reading {
            align-items: flex-start;
            display: flex;
            gap: 64px;
            justify-content: flex-start;
        }

        h2 {
            white-space: nowrap;
        }

        .related-articles {
            width: 100%;
        }
    }
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .keep-reading-section {
        padding: 96px 178px;

        .keep-reading {
            gap: 72px;
        }
    }
}

/* DESKTOP - 1280px */
@media only screen and (min-width: $desktop-1) {
    .keep-reading-section {
        padding: 96px 308px;
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .keep-reading-section {
        padding: 128px 0;

        h2 {
            font-size: 40px;
            line-height: 44px;
        }

        .related-articles {
            max-width: 458px;
        }
    }
}