.keep-reading {
    background-color: $neutrals-200;

    h2 {
        margin-bottom: 32px;
    }

    .related-articles {
        background-color: $neutrals-100;
        padding: 24px;
        border-radius: $border-radius-medium;
        box-shadow: $card-shadow;
        border: 0.5px solid $neutrals-400;
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .keep-reading {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 64px;

        h2 {
            white-space: nowrap;
        }

        .related-articles {
            width: 100%;
        }
    }
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .keep-reading {
        padding: 96px 178px;
        gap: 72px;
    }
}

/* DESKTOP - 1280px */
@media only screen and (min-width: $desktop-1) {
    .keep-reading {
        padding: 96px 308px;
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .keep-reading {
        h2 {
            font-size: 40px;
            line-height: 44px;
        }
    }
}

/* DESKTOP - 1600px */
@media only screen and (min-width: $desktop-5) {
    .keep-reading {
        padding: 96px 388px !important;
    }
}

/* DESKTOP - HD */
@media only screen and (min-width: $desktop-hd) {
    .keep-reading {
        padding: 96px 548px !important;
    }
}

/* DESKTOP - QHD */
@media only screen and (min-width: $desktop-qhd) {
    .keep-reading {
        padding: 96px 868px !important;
    }
}

/* DESKTOP - WQHD */
@media only screen and (min-width: $desktop-wqhd) {
    .keep-reading {
        padding: 96px 1308px !important;
    }
}

/* DESKTOP - 4K */
@media only screen and (min-width: $desktop-4k) {
    .keep-reading {
        padding: 96px 1508px !important;
    }
}