// Light mode
.light-mode {
    .header-about {
        background-color: $neutrals-100;
    }

    .header-about__content__image img, .header__content__image img {
        filter: brightness(100%);
    }
}

// Dark mode
.dark-mode {
    .header-about {
        background-color: $neutrals-1000;
    }

    .header-about__content__image img, .header__content__image img {
        filter: brightness(92%);
    }
}

// Mobile styling
.header-about {
    transition: background-color $transition-time-short ease-in-out;

    .header__content {
        &__text {
            .buttons {
                justify-content: center;
            }
        }

        .header-about__content__image {
            display: none;
        }
    }

    .header-about__content__image img, .header__content__image img {
        transition: all $transition-time-short ease-in-out;
        border-radius: 0;
    }
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .container:has(.usp-bar) {
        .header-about .header__content {
            height: calc(100vh - 122px);
        }
    }

    .header-about {
        position: relative;

        .header__content {
            align-items: center;
            display: flex;
            flex-direction: row-reverse;
            gap: 72px;
            height: calc(100vh - 80px);
            justify-content: space-between;
            max-height: 894px;
            padding: 48px 48px 96px 48px;

            &__text {
                padding: 0;
                text-align: left;
                width: calc(100% - 40%);

                .buttons {
                    justify-content: flex-start;
                }
            }

            .header-about__content__image {
                display: block;
                height: 100%;
                max-width: 505px;
                max-height: 678px;
                object-fit: cover;
                width: 40%;
            }
        }

        .header-about__content__image img, .header__content__image img {
            border-radius: $border-radius-medium;
        }

        .header__content__image {
            display: none;
        }

        .scroll-down {
            bottom: 48px;
            left: 50%;
            position: absolute;
            transform: translate(-50%, 0%);
        }
    }
}

/* DESKTOP - 1280px */
@media only screen and (min-width: $desktop-1) {
    .container:has(.usp-bar) {
        .header-about .header__content {
            height: calc(100vh - 160px);
        }
    }

    .header-about {
        .header__content {
            height: calc(100vh - 110px);
            padding: 88px 96px 128px 96px;

            &__text {
                h1 {
                    margin-bottom: 24px;
                }

                p {
                    margin-bottom: 32px;
                }
            }
        }
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .container:has(.usp-bar) {
        .header-about .header__content {
            height: calc(100vh - 180px);
        }
    }

    .header-about {
        .header__content {
            height: calc(100vh - 130px);
            margin: 0 auto;
            max-width: 1248px;
            padding: 88px 0 128px;
            padding-right: 106px;
        }
    }
}