.history {
    background-color: $neutrals-200;
    text-align: center;

    h2 {
        margin-bottom: 64px;
    }
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .history {
        h2 {
            margin-bottom: 96px;
        }

        &__numbers {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 155px;
        }
    }
}