.team {
    background-color: $neutrals-200;

    h2 {
        margin-bottom: 16px;
    }

    p {
        margin-bottom: 32px;
    }

    .employees {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px 8px;
    }
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .team {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 72px;

        &__text {
            width: 33%;
        }

        .employees {
            width: 66%;
            gap: 48px 8px;
        }
    }
}