.team-section {
    background-color: $neutrals-200;
    padding: 64px 16px;

    h2 {
        margin-bottom: 16px;
    }

    p {
        margin-bottom: 32px;
    }

    .employees {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px 8px;
    }
}

/* TABLET PORTRAIT - 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .team-section {
        padding: 64px 48px;
    }
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .team-section {
        padding: 96px 48px;

        .team {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 72px;

            &__text {
                width: 33%;
            }

            .employees {
                width: 66%;
                gap: 48px 8px;
            }
        }
    }
}

/* DESKTOP - 1280px */
@media only screen and (min-width: $desktop-1) {
    .team-section {
        padding: 128px 96px;

        .employees {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .team-section {
        padding: 128px 0;

        h2 {
            font-size: 40px;
            line-height: 44px;
        }
    }
}