picture {
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    
    img {
        width: 100%;
        height: 100%;
        border-radius: $border-radius-medium;
        object-fit: cover;
        display: block;
    }
}