.related-articles {
    article {
        border-bottom: 1px solid $neutrals-800;
        padding: 24px 0;

        &:first-of-type {
            padding-top: 0;
        }

        &:last-of-type {
            border-bottom: none;
            padding-bottom: 0;
        }

        &:hover {
            .related-articles__article__top {
                i {
                    margin-right: 8px;
                }
            }
        }
    }

    &__article {
        width: 100%;

        &__top {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 8px;
            
            h5 {
                max-width: 226px;
            }

            i {
                font-size: 14px;
                line-height: 14px;
                color: $primary-500;
                margin-top: 8px;
                transition: all $transition-time-short;
            }
        }

        .tags {
            margin-bottom: 16px;
        }
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .related-articles__article {
        &__top {
            h5 {
                max-width: 328px;
            }

            i {
                font-size: 20px;
                line-height: 20px;
            }
        }
    }
}