.related-articles__article {
    padding: 24px 0;
    border-bottom: 1px solid $neutrals-800;

    &:first-of-type {
        padding-top: 0;
    }

    &:last-of-type {
        padding-bottom: 0;
        border-bottom: none;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 8px;
        
        h5 {
            max-width: 226px;
        }

        i {
            font-size: 14px;
            line-height: 14px;
            color: $neutrals-1100;
            margin-top: 8px;
        }
    }

    .tags {
        margin-bottom: 16px;

        .tag {
            background-color: $primary-100;
            color: $primary-500;
            border: 0.5px solid $primary-200;
        }
    }

    &__min-read {
        font-family: $title-font;
        font-size: 14px;
        line-height: 14px;
        font-weight: 500;
        color: $neutrals-1100;
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .related-articles__article {
        &__top {
            i {
                font-size: 20px;
                line-height: 20px;
            }
        }
    }
}