.employee {
    text-align: center;

    &__img {
        border-radius: $border-radius-medium;
        height: 80px;
        object-fit: cover;
        width: 80px;
    }

    p {
        margin-bottom: 0 !important;
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .employee {
        &__img {
            height: 120px;
            width: 120px;
        }

        h5 {
            font-size: 20px;
            line-height: 28px;
        }
    }
}