// Light mode
.light-mode {
    .employee__img {
        filter: $image-brightness-light-mode;
    }
}

// Dark mode
.dark-mode {
    .employee__img {
        filter: $image-brightness-dark-mode;
    }
}

// Mobile styling
.employee {
    text-align: center;

    &__img {
        border-radius: $border-radius-medium;
        height: 80px;
        object-fit: cover;
        transition: filter $transition-time-short ease-in-out;
        width: 80px;
    }

    p {
        margin-bottom: 0 !important;
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .employee {
        &__img {
            height: 120px;
            width: 120px;
        }

        h5 {
            font-size: 20px;
            line-height: 28px;
        }
    }
}