.history-item {
    margin-bottom: 48px;

    &:last-of-type {
        margin-bottom: 0;
    }

    h5 {
        color: $neutrals-900;
        margin-bottom: 8px;
    }

    h1 {
        font-size: 72px;
        letter-spacing: -0.02em;
        color: $primary-500;
        line-height: 72px;
    }
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .history-item {
        margin-bottom: 0;
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .history-item {
        h5 {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 16px;
        }
    
        h1 {
            font-size: 100px;
            line-height: 100px;
        }
    }
}