.faqs {
    text-align: center;
    padding: 48px 16px 64px;

    .button-primary {
        text-align: center;
        margin: 0 auto;
        margin-top: 24px;
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .faqs {
        padding: 64px 48px;
    }
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .faqs {
        padding: 80px 178px 64px 178px;
    }
}

/* DESKTOP - 1280px */
@media only screen and (min-width: $desktop-1) {
    .faqs {
        padding: 80px 414px 96px 414px;
    }
}

/* DESKTOP - 1440px */
@media only screen and (min-width: $desktop-3) {
    .faqs {
        padding: 96px 0;
    }
}