.header-faq {
    &__content {
        padding: 24px 16px 48px 16px;

        h1 {
            margin-bottom: 16px;
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .header-faq {
        &__content {
            padding: 48px 48px 64px 48px;
        }
    }
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .header-faq {
        &__content {
            padding: 48px 178px 96px 178px;
            text-align: center;
        }
    }
}

/* DESKTOP - 1280px */
@media only screen and (min-width: $desktop-1) {
    .header-faq {
        &__content {
            padding: 88px 308px 96px 308px;
        }
    }
}

/* DESKTOP - 1600px */
@media only screen and (min-width: $desktop-5) {
    .header-faq {
        &__content {
            padding: 88px 388px 96px 388px;
        }
    }
}

/* DESKTOP - HD */
@media only screen and (min-width: $desktop-hd) {
    .header-faq {
        &__content {
            padding: 88px 548px 96px 548px;
        }
    }
}

/* DESKTOP - QHD */
@media only screen and (min-width: $desktop-qhd) {
    .header-faq {
        &__content {
            padding: 88px 868px 96px 868px;
        }
    }
}

/* DESKTOP - WQHD */
@media only screen and (min-width: $desktop-wqhd) {
    .header-faq {
        &__content {
            padding: 88px 1308px 96px 1308px;
        }
    }
}

/* DESKTOP - 4K */
@media only screen and (min-width: $desktop-4k) {
    .header-faq {
        &__content {
            padding: 88px 1508px 96px 1508px;
        }
    }
}