/*.button {
    display: inline-block;
    margin: 0;
    padding: 10px 20px;

    border-radius: $border-radius-medium;
    border: none;

    color: $neutrals-100;
    background-color: $primary-500;

    font-family: $title-font;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    transition: all $transition-time-short;

    &:hover {
        cursor: pointer;
        background-color: $primary-600;
    }

    &:focus {
        background: $primary-500;
    }

    //WHITE BUTTONS
    &-white {
        background-color: $neutrals-100;
        color: $primary-600;

        &:hover {
            background-color: $neutrals-100;
        }
    }

    //FILTER BUTTON
    &-filter {
        background-color: $primary-100;
        color: $neutrals-900;
        border-radius: 0;
        transition: $transition-time-short;

        &:hover {
            background-color: $primary-500;
            color: $neutrals-100;
        }
    }
}*/