.button {
    // GENERAL STYLES FOR BUTTON
    &-primary,
    &-secondary,
    &-white {
        appearance: none;
        border-radius: $border-radius-medium;
        border: none;
        display: inline-block;
        font-family: $title-font;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: -1%;
        margin: 0;
        padding: 12px 24px;
        text-decoration: none;
        transition: all $transition-time-short;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    // PRIMARY BUTTON
    &-primary {
        background-color: $primary-500;
        color: $neutrals-100;

        &:hover {
            background-color: $primary-600;
            cursor: pointer;
        }
    }

    // SECONDARY BUTTON
    &-secondary {
        background-color: $primary-100;
        color: $primary-500;

        &:hover {
            background-color: $primary-200;
            cursor: pointer;
        }
    }

    &-tertiary {
        color: $neutrals-1000;
        display: inline-block;
        font-family: $title-font;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: -1%;
        text-decoration: none;
        transition: all $transition-time-short;
    }

    // WHITE BUTTON
    &-white {
        background-color: $neutrals-100;
        color: $primary-500;

        &:hover {
            background-color: $primary-100;
            cursor: pointer;
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-3) {
    .button {
        &-primary, &-secondary, &-white {
            font-size: 20px;
            font-weight: 500;
            line-height: 20px;
        }

        //PRIMARY BUTTON PRIMARY-500
        &.primary-500 {
            background-color: $primary-500;
            color: $neutrals-100;

            &:hover {
                background-color: $primary-600;
            }
        }

        //PRIMARY BUTTON PRIMARY-100
        &.primary-100 {
            background-color: $primary-100;
            color: $primary-500;

            &:hover {
                background-color: $primary-200;
            }
        }

        //PRIMARY BUTTON WHITE
        &.white {
            background-color: $neutrals-100;
            color: $primary-500;

            &:hover {
                background-color: $primary-100;
            }
        }
    }
}