/* ICONS IN BUTTONS */
.button-primary, .button-secondary, .button-tertiary, .button-white {
    i {
        //bottom: 1px;
        font-size: 12px;
        line-height: 12px;
        position: relative;
        transition: $transition-time-short;
    }

    .anchor-first {
        margin-left: $icon-margin-button;
    }

    .icon-first {
        margin-right: $icon-margin-button;
    }

    &:hover {
        .anchor-first {
            margin-left: $icon-margin-button-hover;

            &.no-hover {
                margin-left: $icon-margin-button;
            }
        }

        .icon-first {
            margin-right: $icon-margin-button-hover;

            &.no-hover {
                margin-right: $icon-margin-button;
            }
        }
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .button-primary, .button-secondary, .button-white {
        i {
            font-size: 14px;
            line-height: 14px;
        }
    }
}