.light-mode {
    p, .p {
        color: $neutrals-900;
    }
}

.dark-mode {
    p, .p {
        color: $neutrals-400;
    }
}

/* STANDARD LAYOUT FOR PARAGRAPHS */
p, .p {
    transition: color $transition-time-short ease-in-out;
    font-family: $paragraph-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.01em;

    &.p-lg {
        font-size: 20px;
        line-height: 32px;
    }
}