.tag {
    border-radius: $border-radius-medium;
    display: inline-block;
    font-family: $title-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    margin: 0;
    padding: 5px 8px;

    &-grey {
        background-color: $neutrals-400;
        color: $neutrals-1100;
    }

    &-primary {
        background-color: $primary-100;
        border: 0.5px solid $primary-200;
        color: $primary-500;
    }
}