// Light mode
.light-mode {
    .burger .burger-line {
        background-color: $neutrals-1100;
    }
}

// Dark mode
.dark-mode {
    .burger .burger-line {
        background-color: $neutrals-400;
    }
}

// Mobile styling
.nav {
    .burger {
        position: absolute;
        right: 16px;
        z-index: 100;

        &:hover {
            cursor: pointer;
        }

        .burger-line {
            height: 3px;
            margin-top: 3px;
            position: relative;
            transition: all $transition-time-short ease;
            width: 10px;
            z-index: 101;
        }

        .line1 {
            width: 25px;
        }

        .line2 {
            width: 20px;
        }

        .line3 {
            width: 15px;
        }

        // Cross layout
        &.toggle {
            z-index: 100;

            .line1 {
                bottom: 3px;
                right: 1px;
                transform: rotate(-45deg) translate(-5px, 6px);
            }

            .line2 {
                display: none;
            }

            .line3 {
                right: 1px;
                transform: rotate(45deg) translate(-5px, -6px);
                top: 7px;
            }

            .burger-line {
                height: 3px;
                position: relative;
                width: 25px;
            }
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .nav {
        .burger {
            right: 48px;
        }
    }
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    // Light mode
    .light-mode {
        .nav .burger {
            background-color: $neutrals-100;

            &.toggle .burger-line {
                background-color: $neutrals-100;
            }
        }
    }

    // Dark mode
    .dark-mode {
        .nav .burger {
            background-color: $neutrals-1000;

            &.toggle .burger-line {
                background-color: $neutrals-400;
            }
        }
    }

    .nav {
        .burger {
            border-radius: $border-radius-medium;
            padding: 11px 8px;

            &.toggle {
                background-color: $primary-500;
                padding: 11px 8px 16px;
            }
        }
    }
}

/* DESKTOP 1280PX */
@media screen and (min-width: $desktop-1) {
    .nav {
        .burger {
            display: none;
        }
    }
}
