.buttons {
    align-items: center;
    display: flex;
    gap: 8px;
    justify-content: space-between;

    &.single-button {
        .button {
            display: inline-block;
            width: auto;
        }
    }

    .button {
        display: block;
        text-align: center;
        width: 100%;
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .buttons {
        justify-content: flex-start;

        .button {
            display: inline-block;
            text-align: initial;
            width: initial;
        }
    }
}