.cookie-consent-modal {
    align-items: flex-end;
    background-color: rgba(0, 0, 0, .9);
    display: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;

    &.active {
        display: flex;
    }

    .content-container {
        background-color: $neutrals-100;
        padding: 32px 24px;
        position: absolute;
        text-align: center;
        transform: translate(0, -50%);
        top: 50%;
        width: 100%;

        .content {
            max-width: 320px;
            margin: 0 auto;

            h3 {
                margin-bottom: 8px;
            }
    
            p {
                margin-bottom: 24px;

                a {
                    text-decoration: underline;
                }
            }

            .buttons {
                align-items: center;
                flex-direction: row;
                gap: 8px;
                justify-content: center;

                .button {
                    text-align: center;
                    white-space: nowrap;
                }
            }
        }
    }
}

/* TABLET LANDSCAPE */
@media screen and (min-width: $tablet-landscape) {
    .cookie-consent-modal {
        .content-container {
            background-color: $neutrals-100;
            padding: 30px;
            position: absolute;
            transform: translate(0, -50%);
            top: 50%;
            text-align: center;
            width: 100%;
    
            .content {
                display: block;
                max-width: 400px;
                padding: 0;
            }
        }
    }
}

/* DESKTOP - 1280PX */
@media screen and (min-width: $desktop-1) {
    .cookie-consent-modal {
        .content-container {
            border-radius: $border-radius-medium;
            bottom: 48px;
            max-width: 320px;
            right: 48px;
            transform: translate(0,0);
            top: initial;

            .content {
                max-width: initial;

                h1 {
                    color: $neutrals-1000;
                }
    
                p {
                    color: $neutrals-900;
                }
    
                .buttons {
                    display: flex;
                    flex-direction: column-reverse;
                    gap: 8px;
    
                    .button {
                        width: 100%;
                    }
                }
            }
        }
    }
}

/* DESKTOP - 1440PX */
@media screen and (min-width: $desktop-3) {
    .cookie-consent-modal {
        .content-container {
            .content {
                h3 {
                    font-size: 32px;
                    line-height: 36px;
                }
            }
        }
    }
}