.list {
    margin-bottom: 24px;

    &__item {
        color: $neutrals-1100;
        font-family: $paragraph-font;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -1%;

        i {
            color: $primary-500;
            font-size: 12px;
            line-height: 26px;
        }
    }
}