// Light mode
.light-mode {
    .pricing-plan {
        background-color: $neutrals-200;
        border: 2px solid $neutrals-600;

        &.discount {
            border: 2px solid $success-500;
        }

        &.most-popular {
            border: 2px solid $info-500;
        }

        &-header {
            background-color: $neutrals-100;

            .tag {
                &.comparison-price {
                    color: $neutrals-1100;
                }
            }

            .pricing-plan__pricing {
                .euro-sign {
                    color: $neutrals-1100;
                }

                .price {
                    color: $neutrals-1100;
                }

                .period {
                    color: $neutrals-800;
                }
            }
        }

        &-body {
            background-color: $neutrals-200;

            .pricing-plan__features .feature {
                color: $neutrals-900;
            }
        }
    }
}

// Dark mode
.dark-mode {
    .pricing-plan {
        background-color: $dark-mode-grey-bg;
        border: 0.4px solid $neutrals-800 !important;

        &-header {
            background-color: $neutrals-800;
            border-bottom: 0.4px solid $neutrals-800;

            .tag {
                &.comparison-price {
                    color: $neutrals-900;
                }
            }

            .pricing-plan__pricing {
                .euro-sign {
                    color: $neutrals-200;
                }

                .price {
                    color: $neutrals-200;
                }

                .period {
                    color: $neutrals-400;
                }
            }
        }

        &-body {
            background-color: $dark-mode-grey-bg;

            .pricing-plan__features .feature {
                color: $neutrals-200;
            }
        }
    }
}

// Mobile styling
.pricing-plan {
    align-items: flex-start;
    border-radius: $border-radius-medium;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 24px;
    transition: all $transition-time-short ease-in-out;

    &-header {
        border-radius: $border-radius-medium $border-radius-medium 0 0;
        display: block;
        padding: 32px;
        position: relative;
        text-align: center;
        transition: all $transition-time-short ease-in-out;
        width: 100%;

        .tags {
            left: 50%;
            position: absolute;
            top: -12px;
            transform: translate(-50%, 0);
            display: flex;
            justify-content: center;
            gap: 8px;
        }

        .tag {
            white-space: nowrap;

            &.discount,
            &.most-popular {
                color: $neutrals-100;
                font-weight: 600;
            }

            &.discount {
                background-color: $success-500;
            }

            &.most-popular {
                background-color: $info-500;
            }

            &.comparison-price {
                background-color: $neutrals-400;
                font-weight: 400;
            }
        }

        .pricing-plan {
            &__title {
                font-weight: 500;
                margin-bottom: 24px;
            }

            &__pricing {
                align-items: center;
                display: flex;
                justify-content: center;
                margin-bottom: 16px;

                span,
                .contact-cta {
                    display: block;
                    font-family: $title-font;
                }

                .euro-sign {
                    font-size: 32px;
                    font-weight: 500;
                    line-height: 36px;
                    margin-right: 8px;
                    transition: color $transition-time-short ease-in-out;
                }

                .price {
                    font-size: 48px;
                    font-weight: 500;
                    line-height: 48px;
                    margin-right: 12px;
                    transition: color $transition-time-short ease-in-out;
                }

                .period {
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 32px;
                    transition: color $transition-time-short ease-in-out;
                }

                .contact-cta {
                    font-size: 32px;
                    font-weight: 500;
                    line-height: 36px;
                    text-decoration: underline;
                }
            }
        }
    }

    &-body {
        margin-bottom: 0px;
        padding: 24px 24px 32px;
        transition: background-color $transition-time-short ease-in-out;

        .pricing-plan {
            &__description {
                margin-bottom: 24px;
            }

            &__included-title {
                font-weight: 500;
                margin-bottom: 16px;
            }

            &__features {
                list-style-type: none;

                .feature {
                    display: flex;
                    font-family: $paragraph-font;
                    font-size: 16px;
                    gap: 8px;
                    line-height: 24px;
                    margin-bottom: 4px;
                    transition: color $transition-time-short ease-in-out;

                    i {
                        line-height: 22px;
                    }
                }
            }
        }
    }

    .button {
        display: block;
        left: 24px;
        position: relative;
        text-align: center;
        width: calc(100% - 48px);
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .pricing-plan {
        height: 100% !important;
    }
}

/* DESKTOP - 1280px */
@media only screen and (min-width: $desktop-1) {
    .pricing-plan {
        max-width: 343px;
        width: 100% !important;
        flex-grow: 1;
        flex-basis: 0;
        min-width: 0;
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .pricing-plan {
        &-header {
            .pricing-plan {
                &__title {
                    font-size: 24px;
                    line-height: 32px;
                }
            }
        }

        &-body {
            .pricing-plan {
                &__included-title {
                    font-size: 20px;
                    line-height: 28px;
                }
            }
        }
    }
}