.accordion {
    padding: 24px 0px;
    text-align: left;
    border-bottom: 1px solid $neutrals-800;

    &:first-of-type {
        padding-top: 0;
    }

    &:last-of-type {
        border-bottom: none;
    }

    &:hover {
        cursor: pointer;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;

        .title {
            max-width: 265px;
        }

        i {
            font-size: 20px;
            line-height: 20px;
            color: $primary-500;
            transition: all $transition-time-short ease;
        }
    }

    &__content {
        max-height: 0;
        overflow: hidden;
        transition: all $transition-time-short ease-in-out;
    }

    // Open accordion 
    &.active {
        .accordion__header {
            i {
                transform: rotate(180deg);
            }
        }

        .accordion__content {
            max-height: 600px;
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .accordion {
        &__header {
            margin-bottom: 16px;

            .title {
                max-width: calc(100% - 96px);
            }
        }
    }
}

/* DESKTOP - 1280px */
@media only screen and (min-width: $desktop-1) {
    .accordion {
        padding: 32px 0px;

        &:hover {
            .accordion__header {
                i {
                    margin-top: 8px;
                }
            }
        }

        &__header {
            .title {
                max-width: 506px;
            }
        }
    }
}