// Light mode
.light-mode {
    .socials .social {
        background-color: $neutrals-100;

        &:hover {
            background-color: $primary-100;
        }

        i {
            color: $primary-500;
        }
    }
}

// Dark mode
.dark-mode {
    .socials .social {
        background-color: $primary-500;

        &:hover {
            background-color: $primary-600;
        }

        i {
            color: $neutrals-100;
        }
    }
}

.socials {
    align-items: center;
    gap: 8px;
    justify-content: flex-start;

    .social {
        border-radius: $border-radius-medium;
        height: 40px;
        text-align: center;
        transition: all $transition-time-short ease-in-out;
        width: 40px;

        &:hover {
            cursor: pointer;
        }

        i {
            font-size: 20px;
            height: 20px;
            line-height: 20px;
            padding-top: 10px;
            transition: color $transition-time-short ease-in-out;
            width: 20px;
        }
    }
}