// Light mode
.light-mode {
    .input-group {
        &.success {
            .input {
                border: 1px solid $success-500;
            }
    
            i.fa-check-circle {
                color: $success-500;
            }
        }
    
        &.error {
            .input {
                border: 1px solid $error-500;
            }
    
            i.fa-exclamation-triangle {
                color: $error-500;
            }
    
            small {
                color: $error-500;
            }
        }
    }
}

// Dark mode
.dark-mode {
    .input-group {
        &.success {
            .input {
                border: 1px solid $success-300;
            }
    
            i.fa-check-circle {
                color: $success-300;
            }
        }
    
        &.error {
            .input {
                border: 1px solid $error-300;
            }
    
            i.fa-exclamation-triangle {
                color: $error-300;
            }
    
            small {
                color: $error-300;
            }
        }
    }
}

// Mobile styling
.input-group {
    position: relative;
    width: 100%;

    i {
        font-size: 16px;
        height: 16px;
        position: absolute;
        right: 16px;
        top: 40px;
        visibility: hidden;
        width: 16px;

        &.fa-check-circle {
            font-size: 18px;
        }
    }

    &.success {
        .input {
            border: 1px solid $success-500;
        }

        i.fa-check-circle {
            visibility: visible;
        }
    }

    &.error {
        padding-bottom: 24px;

        .input {
            margin-bottom: 8px;
        }

        i.fa-exclamation-triangle {
            visibility: visible;
        }

        small {
            visibility: visible;
        }
    }

    label {
        display: inline-block;
        margin-bottom: 0px;
    }

    small {
        bottom: 8px;
        font-family: $paragraph-font;
        left: 0px;
        position: absolute;
        visibility: hidden;
    }
}

// Form feedback after submit
.alert {
    align-items: flex-start;
    bottom: 24px;
    border-radius: $border-radius-small;
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    left: 16px;
    margin-bottom: 16px;
    padding: 12px 24px;
    position: fixed;
    width: calc(100vw - 32px);
    z-index: 1;

    i {
        display: block;
        height: 26px;
        line-height: 26px;
        width: 18px;
    }

    p {
        width: calc(100% - 18px);
    }

    &.success {
        background-color: $success-100;

        p,
        i {
            color: $success-500;
        }
    }

    &.error {
        background-color: $error-100;

        p,
        i {
            color: $error-500;
        }
    }
}

/* TABLET PORTRAIT - 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .alert {
        left: 48px;
        width: calc(100vw - 96px);
    }
}

/* DESKTOP - 1280PX */
@media screen and (min-width: $desktop-1) {
    .alert {
        left: calc((100vw - 1248px) / 2);
        max-width: 1248px;
        margin-bottom: 24px;
        width: 1248px;
    }
}