.input-group {
    position: relative;
    width: 100%;

    i {
        font-size: 16px;
        width: 16px;
        height: 16px;
        visibility: hidden;
        position: absolute;
        top: 40px;
        right: 16px;

        &.fa-check-circle {
            font-size: 18px;
        }
    }

    &.success {
        .input {
            border: 1px solid $success-500;
        }

        i.fa-check-circle {
            visibility: visible;
            color: $success-500;
        }
    }

    &.error {
        padding-bottom: 24px;

        .input {
            border: 1px solid $error-500;
            margin-bottom: 8px;
        }

        i.fa-exclamation-triangle {
            visibility: visible;
            color: $error-500;
        }

        small {
            color: $error-500;
            visibility: visible;
        }
    }

    label {
        display: inline-block;
        margin-bottom: 0px;
    }

    small {
        font-family: $paragraph-font;
        visibility: hidden;
        position: absolute;
        bottom: 8px;
        left: 0px;
    }
}

//FORM FEEDBACK AFTER SUBMIT
.alert {
    position: fixed;
    z-index: 1;
    left: 16px;
    bottom: 24px;
    width: calc(100vw - 32px);
    padding: 12px 24px;
    border-radius: $border-radius-small;
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;

    i {
        display: block;
        width: 18px;
        line-height: 26px;
        height: 26px;
    }

    p {
        width: calc(100% - 18px);
    }

    &.success {
        background-color: $success-100;

        p,
        i {
            color: $success-500;
        }
    }

    &.error {
        background-color: $error-100;

        p,
        i {
            color: $error-500;
        }
    }
}

/* TABLET PORTRAIT - 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .alert {
        width: calc(100vw - 96px);
        left: 48px;
    }
}

/* DESKTOP - 1280PX */
@media screen and (min-width: $desktop-1) {
    .alert {
        width: 1248px;
        max-width: 1248px;
        margin-bottom: 24px;
        left: calc((100vw - 1248px) / 2);
    }
}