.article-page {
    text-align: center;
    padding: 0 0 64px 0;

    &__header {
        padding: 24px 16px 32px 16px;
        text-align: center;

        .publication-date {
            display: block;
            font-family: $title-font;
            font-size: 14px;
            line-height: 14px;
            font-weight: 500;
            letter-spacing: -0.01em;
            color: $neutrals-900;
            margin-bottom: 16px;
        }

        .tags {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            margin-bottom: 8px;

            .tag {
                background-color: $neutrals-400;
                color: $neutrals-1100;
            }
        }

        h1 {
            margin-bottom: 16px;
        }
    }

    &__img {
        width: 100%;
        height: auto;
        aspect-ratio: 3/2;
        object-fit: cover;
    }

    &__section {
        padding: 24px 16px 32px 16px;
        text-align: center;

        h3 {
            margin-bottom: 8px;
        }
    }

    .button-primary {
        text-align: center;
        margin: 0 auto;
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .article-page {
        &__header {
            padding: 48px 48px 64px 48px;
            text-align: center;
        }

        &__section {
            padding: 48px 48px 64px 48px;
            text-align: center;
        }
    }
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .article-page {
        padding: 0 178px 64px 178px;

        &__header {
            padding: 48px 0px 64px 0px;
        }

        &__img {
            border-radius: $border-radius-medium;
        }

        &__section {
            padding: 48px 0px 64px 0px;
        }
    }
}

/* DESKTOP - 1280px */
@media only screen and (min-width: $desktop-1) {
    .article-page {
        padding: 0px 308px 64px 308px;

        &__header {
            padding: 64px 0px 48px 0px;

            .publication-date {
                margin-bottom: 8px;
            }

            .tags {
                margin-bottom: 24px;
            }

            h1 {
                margin-bottom: 24px;
            }

            p {
                padding: 0 106px;
            }
        }

        &__img {
            margin: 0px 106px;
            width: calc(100% - 212px);
        }

        &__section {
            padding: 40px 106px 48px 106px;
            text-align: left;

            h3 {
                margin-bottom: 16px;
            }
        }
    }
}