.article-section {
    padding: 24px 0 64px;

    .article__content {
        padding: 0 16px;

        &__header {
            text-align: center;

            .publication-date {
                color: $neutrals-900;
                display: block;
                font-family: $title-font;
                font-size: 14px;
                font-weight: 500;
                line-height: 14px;
                letter-spacing: -0.01em;
                margin-bottom: 16px;
            }

            .tags {
                align-items: center;
                display: flex;
                gap: 8px;
                justify-content: center;
                margin-bottom: 8px;
    
                .tag {
                    background-color: $neutrals-400;
                    color: $neutrals-1100;
                }
            }

            h1 {
                margin-bottom: 16px;
            }
        }

        &__blocks {
            margin-bottom: 32px;
        }

        .button-primary {
            left: 50%;
            margin: 0 auto;
            position: relative;
            transform: translate(-50%, 0);
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .article-section {
        padding-top: 48px;
    
        .article__content {
            padding: 0 48px;
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .article-section {
        padding-bottom: 96px;

        .article__content {
            max-width: 612px;
            margin: 0 auto;
            padding: 0;

            &__blocks {
                margin-bottom: 64px;
            }
        }
    }
}

/* DESKTOP - 1440px */
@media only screen and (min-width: $desktop-3) {
    .article-section {
        padding-bottom: 128px;

        .article__content {
            &__header {
                h1 {
                    margin-bottom: 24px;
                }
            }
        }
    }
}