// Light mode
.light-mode {
    .container-prices {
        main {
            .prices {
                background-color: $neutrals-100;
    
                .content-container {
                    .pricing-tables {
                        .accordions {
                            .accordion {
                                &__header{
                                    background-color: $primary-100;
                                    border-top: 1px solid $primary-200;
                                    border-bottom: 1px solid $primary-200;
            
                                    .title {
                                        color: $primary-500;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Dark mode
.dark-mode {
    .container-prices {
        main {
            .prices {
                background-color: $neutrals-1000;
    
                .content-container {
                    .pricing-tables {
                        .accordions {
                            .accordion {
                                &__header{
                                    background-color: $dark-mode-grey-bg;
                                    border-top: 1px solid $neutrals-800;
                                    border-bottom: 1px solid $neutrals-800;
            
                                    .title {
                                        color: $neutrals-200;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Mobile styling
.container-prices {
    main {
        .prices {
            transition: all $transition-time-short ease-in-out;
            
            .content-container {
                padding: 28px 16px 48px 16px;

                h1 {
                    margin-bottom: 48px;
                    text-align: center;
                }

                .pricing-tables {
                    .accordions {
                        padding: 0;
        
                        .accordion {
                            border-bottom: none;
                            margin-bottom: 32px;
                            padding: 0;
        
                            &:last-of-type {
                                margin-bottom: 0;
                            }
        
                            &.active {
                                .accordion__content {
                                    padding-top: 20px;
                                }
                            }
        
                            &__header{
                                border-radius: 8px;
                                margin-bottom: 0;
                                padding: 24px 16px;
        
                                .title {
                                    font-size: 24px;
                                    line-height: 32px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .container-prices {
        main {
            .prices {
                .content-container {
                    padding: 48px 48px 64px 48px;

                    .pricing-tables {
                        .accordions {
                            .accordion {
                                &.active {
                                    .accordion__content {
                                        padding: 24px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .container-prices {
        main {
            .prices {
                .content-container {
                    padding: 48px 178px 64px 178px;
                }
            }
        }
    }
}

/* DESKTOP - 1280px */
@media only screen and (min-width: $desktop-1) {
    .container-prices {
        main {
            .prices {
                .content-container {
                    padding: 88px 308px 128px 308px;

                    h1 {
                        margin-bottom: 72px;
                    }
                }
            }
        }
    }
}

/* DESKTOP - 1440px */
@media only screen and (min-width: $desktop-3) {
    .container-prices {
        main {
            .prices {
                .content-container {
                    max-width: 824px;
                    margin: 0 auto;
                    padding: 88px 0px 128px 0px;
                }
            }
        }
    }
}