.container-prices {
    main {
        .prices {
            background-color: $neutrals-100;

            .content-container {
                padding: 28px 16px 48px 16px;

                h1 {
                    text-align: center;
                    margin-bottom: 48px;
                }

                .pricing-tables {
                    .faqs {
                        padding: 0;
        
                        .faq {
                            padding: 0;
                            border-bottom: none;
                            margin-bottom: 32px;
        
                            &:last-of-type {
                                margin-bottom: 0;
                            }
        
                            &.active {
                                .faq__answer {
                                    padding-top: 20px;
                                }
                            }
        
                            &__question {
                                margin-bottom: 0;
                                background-color: $primary-100;
                                border-top: 1px solid $primary-200;
                                border-bottom: 1px solid $primary-200;
                                border-radius: 8px;
                                padding: 24px 16px;
        
                                &__title {
                                    font-size: 24px;
                                    line-height: 32px;
                                    color: $primary-500;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .container-prices {
        main {
            .prices {
                .content-container {
                    padding: 48px 48px 64px 48px;

                    .pricing-tables {
                        .faqs {
                            .faq {
                                &.active {
                                    .faq__answer {
                                        padding: 24px 24px 0px 24px;
                                    }
                                }
                
                                &__question {
                                    padding: 24px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .container-prices {
        main {
            .prices {
                .content-container {
                    padding: 48px 178px 64px 178px;
                }
            }
        }
    }
}

/* DESKTOP - 1280px */
@media only screen and (min-width: $desktop-1) {
    .container-prices {
        main {
            .prices {
                .content-container {
                    padding: 88px 308px 128px 308px;

                    h1 {
                        margin-bottom: 72px;
                    }
                }
            }
        }
    }
}

/* DESKTOP - 1440px */
@media only screen and (min-width: $desktop-3) {
    .container-prices {
        main {
            .prices {
                .content-container {
                    max-width: 824px;
                    padding: 88px 0px 128px 0px;
                    margin: 0 auto;
                }
            }
        }
    }
}