// Light mode
.light-mode {
    .blocks {
        > ul li {
            color: $neutrals-900;
        }

        > figure img {
            filter: $image-brightness-light-mode;
        }

        > figure:has(iframe) {
            figcaption {
                color: $neutrals-800;
            }
        }
    }
}

// Dark mode
.dark-mode {
    .blocks {
        > ul li {
            color: $neutrals-400;
        }

        > figure img {
            filter: $image-brightness-dark-mode;
        }

        > figure:has(iframe) {
            figcaption {
                color: $neutrals-400;
            }
        }
    }
}

// Mobile styling
.blocks {
    & > * {
        &:last-child {
            margin-bottom: 0;
        }
    }

    > h2,
    h3 {
        margin-bottom: 12px;
    }

    > h4,
    h5,
    h6 {
        margin-bottom: 8px;
    }

    > p {
        margin-bottom: 24px;

        & + ul {
            margin-top: -20px;
        }
    }

    > ul {
        display: block;
        list-style-position: inside;
        margin-bottom: 32px;
        text-align: left;

        li {
            font-family: $paragraph-font;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: -0.01em;
            transition: color $transition-time-short ease-in-out;
            width: auto;

            a {
                text-decoration: underline;
            }
        }
    }

    > figure {
        picture {
            border-radius: $border-radius-medium;
            margin-bottom: 32px;

            img {
                aspect-ratio: 3/2;
                border-radius: $border-radius-medium;
                height: auto;
                max-width: initial;
                margin-left: -16px;
                object-fit: cover;
                position: relative;
                transition: filter $transition-time-short ease-in-out;
                width: 100vw;
            }
        }
    }

    > figure:has(iframe) {
        margin-bottom: 32px;
        max-width: initial;
        margin-left: -16px;
        width: 100vw;

        iframe {
            aspect-ratio: 16/9;
            min-height: 200px;
            width: 100vw;
        }

        figcaption {
            font-family: $paragraph-font;
            font-size: 14px;
            line-height: 14px;
            padding: 8px 0 0 16px;
            transition: color $transition-time-short ease-in-out;
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .blocks {
        > figure {
            picture {
                img {
                    margin-left: -48px;
                }
            }
        }

        > figure:has(iframe) {
            margin-left: -48px;

            iframe {
                min-height: 400px;
            }

            figcaption {
                padding-left: 48px;
            }
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .blocks {
        > h2,
        h3 {
            margin-bottom: 24px;
        }

        > h4,
        h5,
        h6 {
            margin-bottom: 16px;
        }

        > figure {
            picture {
                img {
                    border-radius: $border-radius-medium;
                    margin-left: 0;
                    max-width: 100%;
                    min-height: initial;
                    width: 100%;
                }
            }
        }

        > figure:has(iframe) {
            margin-left: 0;
            max-width: 100%;
            width: inherit;

            iframe {
                border-radius: $border-radius-medium;
                min-height: initial;
                width: 100%;
            }

            figcaption {
                padding-left: 0;
            }
        }
    }
}

/* DESKTOP - 1440px */
@media only screen and (min-width: $desktop-3) {
    .blocks {
        > p {
            margin-bottom: 40px;
        }
    }
}
