// Light mode
.light-mode {
    .centeredContent-section {
        background-color: $neutrals-200;
    }
}

// Dark mode
.dark-mode {
    .centeredContent-section {
        background-color: $dark-mode-grey-bg;
    }
}

// Mobile styling
.centeredContent-section {
    padding: 64px 16px;
    transition: all $transition-time-short ease-in-out;
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .centeredContent-section {
        padding: 64px 48px;
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .centeredContent-section {
        padding: 96px 0;

        .centeredContent {
            max-width: 612px;
            margin: 0 auto;
        }
    }
}

/* DESKTOP - 1280px */
@media only screen and (min-width: $desktop-1) {
    .centeredContent-section {
        padding: 128px 0;
    }
}