// Light mode
.light-mode {
    .content-section {
        background-color: $neutrals-100;

        .content__image img {
            filter: $image-brightness-light-mode;
        }
    }
}

// Dark mode
.dark-mode {
    .content-section {
        background-color: $dark-mode-grey-bg;

        .content__image img {
            filter: $image-brightness-dark-mode;
        }
    }
}

// Mobile styling
.content-section {
    transition: all $transition-time-short ease-in-out;

    .content {
        &__image {
            aspect-ratio: 3/2;
            height: auto;
            width: 100%;

            picture {
                width: 100%;
                height: 100%;

                img {
                    aspect-ratio: 3/2;
                    border-radius: 0;
                    height: 100%;
                    object-fit: cover;
                    position: relative;
                    transition: filter $transition-time-short ease-in-out;
                    width: 100%;
                }
            }
        }

        &__text {
            padding: 48px 16px 64px 16px;

            .blocks {
                margin-bottom: 24px;
            }
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .content-section .content__text {
        padding: 64px 48px;
    }
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .content-section .content {
        align-items: center;
        display: flex;
        gap: 72px;
        padding: 96px 48px;

        &__image {
            aspect-ratio: initial;
            border-radius: $border-radius-medium;
            height: 508px;
            max-width: 505px;
            overflow: hidden;
            width: 40%;

            picture {
                img {
                    aspect-ratio: initial;
                    border-radius: $border-radius-medium;
                    height: inherit;
                    width: inherit;
                }
            }
        }

        &__text {
            padding: 0;
            width: calc(100% - 40% - 70px); // 40% image, 70px gap
        }
    }
}

/* DESKTOP - 1280px */
@media only screen and (min-width: $desktop-1) {
    .content-section .content {
        padding: 128px 96px;

        &__image {
            width: 505px;
        }

        &__text {
            width: calc(100% - 505px - 70px); // 505px image, 70px gap
        }
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .content-section .content {
        padding: 128px 0;

        &__image {
            height: 602px;
        }
    }
}