// Light mode
.light-mode {
    .nav .logo img {
        &.logoDark {
            opacity: 1;
        }

        &.logoLight {
            opacity: 0;
        }
    }
}

// Dark mode
.dark-mode {
    .nav .logo img {
        &.logoDark {
            opacity: 0;
        }

        &.logoLight {
            opacity: 1;
        }
    }
}

.nav {
    align-items: center;
    height: 80px;
    justify-content: space-between;
    overflow: hidden;
    padding: 24px 16px;

    .logo {
        height: 40px;
        object-fit: contain;
        position: relative;
        width: 100px;

        img {
            height: inherit;
            position: absolute;
            transition: all $transition-time-short ease-in-out;
            width: inherit;
        }
    }

    // Sliding menu
    .nav-links {
        background-color: $primary-500;
        border-radius: 0 $border-radius-medium $border-radius-medium 0;
        border-right: 0.5px solid $primary-100;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        left: 0;
        max-width: 576px;
        overflow: hidden;
        position: fixed;
        transform: translateX(-100%);
        top: 0;
        transition: transform $transition-time-medium ease-in-out;
        width: 75%;
        z-index: 3;

        .link-lang__flexbox {
            left: 16px;
            position: absolute;
            top: 112px;
            width: calc(100% - 32px);

            .link-items {
                list-style-type: none;
                margin-bottom: 40px;

                .nav__link {
                    background-color: $neutrals-100;
                    border-radius: $border-radius-medium;
                    display: block;
                    font-weight: 600;
                    font-family: $title-font;
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 32px;
                    margin-bottom: 8px;
                    opacity: 0;
                    padding: 8px 24px;
                    text-align: left;

                    &__item {
                        color: $neutrals-1000;
                        display: block;

                        &.active {
                            color: $primary-500;
                        }
                    }

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .button {
            bottom: 40px;
            display: inline;
            left: 50%;
            position: absolute;
            transform: translate(-50%, 0%);
            z-index: 100;
        }

        .logo {
            height: 40px;
            left: 16px;
            object-fit: contain;
            position: relative;
            top: 24px;
            width: 100px;
        }

        .logo,
        .button {
            opacity: 0;
        }

        //ACTIVE MENU
        &.nav-active {
            height: 100%;
            overflow: hidden;
            transform: translateX(0%);
            z-index: 99;

            .logo,
            .button {
                opacity: 1;
            }
        }
    }

    .primary-cta {
        display: none;
    }

    // Fade in animation
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0%);
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .nav {
        padding: 32px 48px 24px 48px;

        .nav-links {
            .link-lang__flexbox {
                left: 48px;
                width: calc(100% - 96px);

                .link-items {
                    .nav__link {
                        font-size: 32px;
                        line-height: 36px;
                        padding: 16px 32px;
                    }
                }
            }

            .nav__link {
                padding: 0 48px;
            }

            .logo {
                left: 48px;
            }

            .button {
                bottom: 64px;
            }
        }
    }
}

/* DESKTOP 1280PX */
@media screen and (min-width: $desktop-1) {
    .light-mode {
        .nav .nav-links .link-items .nav__link__item {
            color: $neutrals-1000;

            &.active {
                color: $neutrals-1000;
            }
        }
    }

    .dark-mode {
        .nav .nav-links .link-items .nav__link__item {
            color: $neutrals-200;

            &.active {
                color: $neutrals-200;
            }
        }
    }

    .nav {
        align-items: center;
        height: 110px;
        padding: 32px 96px 32px 96px;
        position: relative;
        overflow: visible;

        .logo-lang-container {
            display: flex;
            align-items: center;
            gap: 16px;
            position: relative;
            z-index: 1;
        }

        .nav-links {
            align-items: center;
            background: transparent;
            border-radius: 0;
            border-right: none;
            height: 100%;
            justify-content: center;
            position: initial;
            padding: 0;
            top: 0;
            transform: translateX(0%);
            transition: none;
            width: auto;

            .socials {
                display: none;
            }

            .link-lang__flexbox {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                gap: 32px;
                left: 0;
                position: relative;
                transform: translate(0%, 0%);
                top: 0;
                width: 100%;

                .link-items {
                    align-items: center;
                    display: flex;
                    flex-direction: row;
                    gap: 24px;
                    justify-content: space-between;
                    margin-bottom: 0;
                    position: relative;
                    top: 4px;
                    z-index: 1;

                    .nav {
                        &__link {
                            background-color: transparent;
                            display: inline;
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 20px;
                            margin-bottom: 0;
                            opacity: 1;
                            padding: 0 0 4px;

                            &__item {
                                border-bottom: 3px solid transparent;
                                opacity: 1;
                                padding-bottom: 4px;
                                transition: all $transition-time-short ease-in-out;
                                white-space: nowrap;
                                width: 100%;

                                &:hover {
                                    border-bottom: 3px solid $primary-500;
                                }

                                &.active {
                                    border-bottom: 3px solid $primary-500;
                                }
                            }
                        }
                    }
                }

                .languages-container {
                    display: none;

                    h4 {
                        display: none;
                    }

                    .languages {
                        display: flex;

                        .language-active {
                            display: block;
                            font-family: $title-font;
                            font-size: 16px;
                            line-height: 16px;
                            font-weight: 500;
                            padding: 8px;
                            background-color: $neutrals-100;
                            border-radius: $border-radius-medium;
                            border: $border-card-thin;
                            color: $neutrals-1000;
                            text-transform: uppercase;

                            i {
                                margin-left: 4px;
                                color: $neutrals-800;
                            }
                        }

                        .language-button {
                            display: none;
                        }
                    }
                }
            }

            .button-white,
            .logo {
                display: none;
            }
        }

        .primary-cta {
            display: block;
        }

        // Nav home
        &-home {
            gap: 32px;
            justify-content: flex-start;

            .nav-links {
                .link-lang__flexbox {
                    .link-items {
                        gap: 16px;

                        .nav__link {
                            font-size: 18px;
                            line-height: 18px;
                        }
                    }
                }
            }

            .primary-cta {
                display: none;
            }
        }
    }
}

/* DESKTOP 1366PX */
@media screen and (min-width: $desktop-2) {
    .nav-home {
        gap: 40px;

        .nav-links .link-items {
            gap: 32px;
        }
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .nav {
        height: 130px;
        max-width: 1248px;
        margin: 0 auto;
        padding: 45px 0;

        .nav-links {
            .link-lang__flexbox {
                .link-items {
                    gap: 32px;
                }
            }
        }

        .logo {
            height: 50px;
            width: 125px;
        }

        // Nav home
        &-home {
            gap: 40px;
            left: calc((100vw - 1248px) / 2);

            .nav-links {
                .link-lang__flexbox {
                    .link-items {
                        gap: 20px;

                        .nav__link {
                            font-size: 20px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }
}

/* DESKTOP 1920PX */
@media screen and (min-width: $desktop-5) {

    // Nav home
    .nav-home {
        gap: 48px;
    }
}