.blocks {
    & > * {
        &:last-child {
            margin-bottom: 0;
        }
    }

    > h2, h3 {
        margin-bottom: 12px;
    }

    > h4, h5, h6 {
        margin-bottom: 8px;
    }

    > p {
        margin-bottom: 24px;

        & + ul {
            margin-top: -20px;
        }
    }

    > ul {
        display: inline-block;
        text-align: left;
        list-style-position: inside;
        margin-bottom: 32px;

        li {
            width: auto;
            font-family: $paragraph-font;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: $neutrals-900;
            letter-spacing: -0.01em;

            a {
                text-decoration: underline;
            }
        }
    }

    > figure {
        img {
            margin-bottom: 32px;
            width: 100vw;
            max-width: initial;
            margin-left: -16px;
            aspect-ratio: 3/2;
            height: auto;
            object-fit: cover;
        }
    }

    > figure:has(iframe) {
        margin-bottom: 32px;
        width: 100vw;
        max-width: initial;
        margin-left: -16px;

        iframe {
            width: 100vw;
            min-height: 200px;
            aspect-ratio: 16/9;
        }

        figcaption {
            font-family: $paragraph-font;
            font-size: 14px;
            line-height: 14px;
            padding: 8px 0 0 16px;
            color: $neutrals-800;
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .blocks {
        > figure {
            img {
                margin-left: -48px;
            }
        }

        > figure:has(iframe) {
            margin-left: -48px;

            iframe {
                min-height: 400px;
            }

            figcaption {
                padding-left: 48px;
            }
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .blocks {
        > h2, h3 {
            margin-bottom: 24px;
        }

        > h4, h5, h6 {
            margin-bottom: 16px;
        }

        > figure {
            img {
                margin-left: 0;
                max-width: 100%;
                width: 100%;
                min-height: initial;
                border-radius: $border-radius-medium;
            }
        }

        > figure:has(iframe) {
            margin-left: 0;
            width: inherit;
            max-width: 100%;
            width: inherit;

            iframe {
                width: 100%;
                min-height: initial;
                border-radius: $border-radius-medium;
            }

            figcaption {
                padding-left: 0;
            }
        }
    }
}

/* DESKTOP - 1440px */
@media only screen and (min-width: $desktop-3) {
    .blocks {
        > p {
            margin-bottom: 40px;
        }
    }
}