.content {
    &__image {
        width: 100%;
        height: auto;
        aspect-ratio: 3/2;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text {
        padding: 48px 16px 64px 16px;

        h2 {
            margin-bottom: 16px;
        }

        p {
            margin-bottom: 24px;
        }

        .list {
            list-style-type: none;
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .content {
        &__text {
            padding: 64px 48px;
        }
    }
}