.cta {
    &__content {
        padding: 48px 16px;
        background-color: $primary-100;

        h2 {
            margin-bottom: 24px;
            color: $neutrals-1000;

            span {
                color: $primary-500;
            }
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;

            &.single-button {
                .button {
                    width: auto;
                    display: inline-block;
                }
            }

            .button {
                display: block;
                width: 100%;
                text-align: center;
            }
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .cta {
        &__content {
            padding: 64px 48px;

            .buttons {
                justify-content: flex-start;

                .button {
                    display: inline-block;
                    width: initial;
                    text-align: initial;
                }
            }
        }
    }
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .cta {
        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {
                margin-bottom: 0;
            }
        }
    }
}

/* DESKTOP - 1280px */
@media only screen and (min-width: $desktop-1) {
    .cta {
        padding: 128px 96px;
        background-color: $neutrals-100 !important;
        border-radius: $border-radius-medium;

        //CTA services custom page
        &.customBlock {
            display: none;
        }

        &__content {
            padding: 48px;
            width: 100%;
            border-radius: $border-radius-medium;
            box-shadow: $card-shadow;
            border: 0.5px solid $neutrals-400;
            background-color: $primary-100;

            h2 {
                margin-bottom: 0 !important;
                text-align: left !important;
            }
        }
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .cta {
        padding: 128px 0px;

        &__content {
            h2 {
                font-size: 40px;
                line-height: 44px;
            }
        }
    }
}