.cta {
    &__content {
        background-color: $primary-100;
        padding: 48px 16px;

        h2 {
            color: $neutrals-1000;
            margin-bottom: 24px;

            span {
                color: $primary-500;
            }
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .cta {
        &__content {
            padding: 64px 48px;
        }
    }
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .cta {
        &__content {
            align-items: center;
            display: flex;
            justify-content: space-between;

            h2 {
                margin-bottom: 0;
            }
        }
    }
}

/* DESKTOP - 1280px */
@media only screen and (min-width: $desktop-1) {
    .cta {
        background-color: $neutrals-100 !important;
        padding: 128px 96px;

        //CTA services custom page
        &.customBlock {
            display: none;
        }

        &__content {
            border-radius: $border-radius-medium;
            box-shadow: $card-shadow;
            padding: 48px;
            width: 100%;

            h2 {
                margin-bottom: 0 !important;
                text-align: left !important;
            }
        }
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .cta {
        padding: 128px 0px;

        &__content {
            h2 {
                font-size: 40px;
                line-height: 44px;
            }
        }
    }
}