.footer {
    padding: 40px 16px 24px 16px;
    background-color: $primary-500;
    position: relative;

    //Back to top arrow
    .back-to-top {
        display: block;
        width: 40px;
        height: 40px;
        background-color: $neutrals-100;
        border-radius: $border-radius-medium;
        position: absolute;
        top: 40px;
        right: 16px;

        i {
            font-size: 16px;
            line-height: 16px;
            width: 16px;
            height: 16px;
            top: 12px;
            left: 12px;
            color: $primary-500;
            position: relative;
        }

        &:hover {
            background-color: $primary-100;
        }
    }

    //Intro
    .intro {
        margin-bottom: 40px;

        .footer-logo {
            width: 100px;
            height: 40px;
            object-fit: contain;
            margin-bottom: 16px;
        }

        p {
            color: $neutrals-100;
            margin-bottom: 16px;
        }
    }

    .contact,
    .sitemap {
        margin-bottom: 32px;
    }

    &__block {
        h4 {
            color: $neutrals-100;
            margin-bottom: 16px;
        }
    }

    //Footer links
    &__a {
        color: $neutrals-100;
        display: block;
        margin-bottom: 7px;
        font-family: $paragraph-font;
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
        transition: all $transition-time-short;

        &:hover {
            color: $primary-100;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        i {
            margin-right: 6px;
        }
    }

    //Footer bottom
    &-line {
        background-color: $primary-300;
        height: 0.5px;
        margin-bottom: 16px;
    }

    &__copyright {
        text-align: center;
        color: $neutrals-100;

        a {
            text-decoration: underline;
            color: $neutrals-100;
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .footer {
        padding: 64px 48px 24px 48px;

        .back-to-top {
            top: 64px;
            right: 48px;
        }
    }
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .footer {
        &-blocks {
            display: grid;
            grid-template-columns: 400px min-content auto;
            grid-template-rows: auto;
            grid-template-areas: "intro sitemap contact";
            gap: 96px;

            .intro {
                grid-area: intro;
            }

            .contact {
                grid-area: contact;
                display: block;
            }

            .sitemap {
                grid-area: sitemap;
            }
        }

        &__copyright {
            .mobile {
                display: none;
            }
        }
    }
}

/* DESKTOP - 1280px */
@media only screen and (min-width: $desktop-1) {
    .footer {
        padding: 96px 96px 24px 96px;

        //Intro
        .intro {
            .footer-logo {
                width: 125px;
                height: 50px;
                margin-bottom: 24px;
            }
        }

        .back-to-top {
            top: 96px;
            right: 96px;
        }

        &__block {
            h4 {
                margin-bottom: 24px;
            }
        }
    }
}

/* DESKTOP - 1600px */
@media only screen and (min-width: $desktop-5) {
    .footer {
        padding: 96px 178px 24px 178px;

        .back-to-top {
            right: 178px;
        }
    }
}

/* DESKTOP - HD */
@media only screen and (min-width: $desktop-hd) {
    .footer {
        padding: 96px 336px 24px 336px;

        .back-to-top {
            right: 336px;
        }
    }
}

/* DESKTOP - QHD */
@media only screen and (min-width: $desktop-qhd) {
    .footer {
        padding: 96px 656px 24px 656px;

        .back-to-top {
            right: 656px;
        }
    }
}

/* DESKTOP - WQHD */
@media only screen and (min-width: $desktop-wqhd) {
    .footer {
        padding: 96px 1096px 24px 1096px;

        .back-to-top {
            right: 1096px;
        }
    }
}

/* DESKTOP - 4K */
@media only screen and (min-width: $desktop-4k) {
    .footer {
        padding: 96px 1296px 24px 1296px;

        .back-to-top {
            right: 1296px;
        }
    }
}