// Light mode
.light-mode {
    .footer {
        background-color: $primary-500;

        .back-to-top {
            background-color: $neutrals-100;

            i {
                color: $primary-500;
            }

            &:hover {
                background-color: $primary-100;
            }
        }

        .intro p {
            color: $neutrals-100;
        }

        &__block h4 {
            color: $neutrals-100;
        }

        &__a {
            color: $neutrals-100;

            &:hover {
                color: $primary-100;
            }
        }

        &-line {
            background-color: $primary-300;
        }
    
        &__copyright, &__copyright a {
            color: $neutrals-100;
        }
    }
}

// Dark mode
.dark-mode {
    .footer {
        background-color: $neutrals-1000;
        box-shadow: $footer-shadow-dark-mode;

        .back-to-top {
            background-color: $primary-500;

            i {
                color: $neutrals-100;
            }

            &:hover {
                background-color: $primary-600;
            }
        }

        .intro p {
            color: $neutrals-200;
        }

        &__block h4 {
            color: $neutrals-200;
        }

        &__a {
            color: $neutrals-200;

            &:hover {
                color: $neutrals-400;
            }
        }

        &-line {
            background-color: $neutrals-800;
        }
    
        &__copyright, &__copyright a {
            color: $neutrals-400;
        }
    }
}

// Mobile styling
.footer {
    padding: 40px 16px 24px 16px;
    position: relative;

    &-blocks {
        position: relative;
    }

    //Back to top arrow
    .back-to-top {
        border-radius: $border-radius-medium;
        display: block;
        height: 40px;
        position: absolute;
        right: 0;
        top: 0;
        transition: all $transition-time-short ease-in-out;
        width: 40px;

        i {
            font-size: 16px;
            height: 16px;
            line-height: 16px;
            left: 12px;
            position: relative;
            top: 12px;
            width: 16px;
        }
    }

    .intro {
        margin-bottom: 40px;

        .footer-logo {
            height: 40px;
            margin-bottom: 16px;
            object-fit: contain;
            width: 100px;
        }

        p {
            margin-bottom: 16px;
        }
    }

    .contact,
    .sitemap {
        margin-bottom: 32px;
    }

    &__block {
        h4 {
            margin-bottom: 16px;
        }
    }

    &__a {
        display: block;
        font-family: $paragraph-font;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 7px;
        transition: all $transition-time-short;

        &:last-of-type {
            margin-bottom: 0;
        }

        i {
            margin-right: 6px;
        }
    }

    //Footer bottom
    &-line {
        height: 0.5px;
        margin-bottom: 16px;
        border: none;
    }

    &__copyright {
        text-align: center;

        a {
            text-decoration: underline;
        }
    }
}

/* TABLET PORTRAIT - 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .footer {
        padding: 64px 48px 24px 48px;
    }
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .dark-mode {
        .footer .contact {
            background-color: $neutrals-1000;
        }
    }

    .footer {
        &-blocks {
            display: grid;
            grid-template-columns: 400px min-content auto;
            grid-template-rows: auto;
            grid-template-areas: "intro sitemap contact";
            gap: 96px;

            .intro {
                grid-area: intro;
            }

            .contact {
                display: block;
                grid-area: contact;
            }

            .sitemap {
                grid-area: sitemap;
            }
        }

        &__copyright {
            .mobile {
                display: none;
            }
        }
    }
}

/* DESKTOP - 1280px */
@media only screen and (min-width: $desktop-1) {
    .footer {
        padding: 96px 96px 24px 96px;

        .intro {
            .footer-logo {
                height: 50px;
                margin-bottom: 24px;
                width: 125px;
            }
        }

        &__block {
            h4 {
                margin-bottom: 24px;
            }
        }

        &__copyright {
            span {
                border-right: 2px solid $neutrals-100;
                margin-right: 8px;
                padding-right: 8px;
            }
        }
    }
}

/* DESKTOP - 1440px */
@media only screen and (min-width: $desktop-3) {
    .footer {
        padding: 96px 0 24px;
    }
}