.header {
    &__content {
        &__text {
            padding: 24px 16px 48px 16px;
            text-align: center;

            h1 {
                margin-bottom: 16px;
            }

            p {
                margin-bottom: 24px;
            }
        }
    }

    .scroll-down {
        display: none;
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .header {
        &__content {
            &__text {
                padding: 48px;
            }
        }
    }
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .header {
        &__content {
            &__text {
                padding: 48px 178px 96px 178px;
            }
        }

        .scroll-down {
            display: block;
            color: $primary-500;
            font-size: 20px;
            line-height: 20px;
            position: absolute;
            animation: bounce 2s ease infinite;
        }

        //SCROLL DOWN ICON - BOUNCE ANIMATION
        @keyframes bounce {
            0%,
            20%,
            50%,
            80%,
            100% {
                transform: translateY(0);
            }
            40% {
                transform: translateY(-20px);
            }
            60% {
                transform: translateY(-10px);
            }
        }
    }
}

/* DESKTOP - 1280px */
@media only screen and (min-width: $desktop-1) {
    .header {
        &__content {
            &__text {
                padding: 88px 308px 96px 308px;
            }
        }
    }

    //Header FAQ & Blog
    .header-faq,
    .header-blog {
        p {
            padding: 0px 106px;
        }
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .header {
        .scroll-down {
            font-size: 24px;
            line-height: 24px;
        }
    }
}

/* DESKTOP - 1600px */
@media only screen and (min-width: $desktop-5) {
    .header {
        &__content {
            &__text {
                padding: 88px 388px 96px 388px;
            }
        }
    }
}

/* DESKTOP - HD */
@media only screen and (min-width: $desktop-hd) {
    .header {
        &__content {
            &__text {
                padding: 88px 548px 96px 548px;
            }
        }
    }
}

/* DESKTOP - QHD */
@media only screen and (min-width: $desktop-qhd) {
    .header {
        &__content {
            &__text {
                padding: 88px 868px 96px 868px;
            }
        }
    }
}

/* DESKTOP - WQHD */
@media only screen and (min-width: $desktop-wqhd) {
    .header {
        &__content {
            &__text {
                padding: 88px 1308px 96px 1308px;
            }
        }
    }
}

/* DESKTOP - 4K */
@media only screen and (min-width: $desktop-4k) {
    .header {
        &__content {
            &__text {
                padding: 88px 1414px 96px 1414px;
            }
        }
    }
}