.nav {
    align-items: center;
    height: 80px;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 24px 16px;

    .logo {
        height: 40px;
        object-fit: contain;
        position: relative;
        top: 4px;
        width: 100px;

        img {
            height: 40px;
            width: 100px;
        }
    }

    //MOBILE MENU
    .nav-links {
        background-color: $primary-500;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        overflow-y: hidden;
        overflow: hidden;
        position: fixed;
        right: 0;
        transform: translateX(100%);
        top: 0;
        transition: transform $transition-time-medium ease-in-out;
        width: 100%;
        z-index: 3;

        .link-items {
            list-style-type: none;
            position: absolute;
            transform: translate(0%, -50%);
            top: 47%;
        }

        .button {
            bottom: 40px;
            display: inline;
            left: 50%;
            position: absolute;
            transform: translate(-50%, 0%);
            z-index: 100;
        }

        .logo {
            height: 40px;
            object-fit: contain;
            width: 100px;
        }

        .logo,
        .button {
            opacity: 0;
        }

        //ACTIVE MENU
        &.nav-active {
            height: 100%;
            overflow: hidden;
            transform: translateX(0%);
            z-index: 99;

            .logo,
            .button {
                opacity: 1;
            }

            .nav__link__item {
                color: $neutrals-100;
                display: inline-block;

                &.active {
                    border-bottom: 4px solid $neutrals-100;
                }
            }
        }

        .logo {
            left: 16px;
            position: relative;
            top: 24px;
        }
    }

    //MENU LINKS
    .nav-links {
        .nav__link {
            color: $neutrals-100;
            display: block;
            font-weight: 600;
            font-family: $title-font;
            font-size: 56px;
            line-height: 60px;
            margin-bottom: 24px;
            opacity: 0;
            padding: 0 16px;
            text-align: left;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .primary-cta {
        display: none;
    }

    //FADE IN ANIMATION
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0%);
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .nav {
        padding: 32px 48px 24px 48px;

        .nav-links {
            .nav__link {
                padding: 0 48px;
            }

            .logo {
                left: 48px;
            }

            .button {
                bottom: 64px;
            }
        }
    }
}

/* DESKTOP 1280PX */
@media screen and (min-width: $desktop-1) {
    .nav {
        align-items: center;
        height: 110px;
        padding: 32px 96px 32px 96px;

        .nav-links {
            align-items: center;
            background: transparent;
            height: 100%;
            justify-content: center;
            position: initial;
            padding: 0;
            top: 0;
            transform: translateX(0%);
            transition: none;
            width: auto;

            .socials {
                display: none;
            }

            .link-items {
                align-items: center;
                display: flex;
                flex-direction: row;
                gap: 40px;
                justify-content: space-between;
                position: initial;
                transform: translate(0%, 0%);
                top: 0;
            }

            ul {
                align-items: center;
                display: flex;
                flex-direction: row;
                gap: 40px;
                justify-content: space-between;

                .nav {
                    &__link {
                        display: inline;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 20px;
                        margin-bottom: 0;
                        opacity: 1;
                        padding: 0;

                        &__item {
                            border-bottom: 3px solid transparent;
                            color: $neutrals-1100;
                            opacity: 1;
                            transition: all $transition-time-short ease-in-out;
                            white-space: nowrap;
                            width: 100%;

                            &:hover {
                                border-bottom: 3px solid $primary-500;
                            }

                            &.active {
                                border-bottom: 3px solid $primary-500;
                            }
                        }
                    }
                }
            }

            .button-white,
            .logo {
                display: none;
            }
        }

        .primary-cta {
            display: block;
        }
    }

    //NAV HEADER BIG IMAGE
    .header-home {
        .nav {
            gap: 48px;
            justify-content: flex-start;

            .primary-cta {
                display: none;
            }
        }
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .nav {
        height: 130px;
        max-width: 1248px;
        margin: 0 auto;
        padding: 45px 0;

        .logo {
            height: 50px;
            width: 125px;

            img {
                height: 50px;
                width: 125px;
            }
        }

        .nav-links {
            position: relative;
            top: 4px;

            ul {
                .nav {
                    &__link {
                        font-size: 20px;
                        line-height: 28px;
                    }
                }
            }
        }

        //NAV HOME
        &-home {
            gap: 51px;
            left: calc((100vw - 1248px) / 2);
        }
    }
}