.nav {
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 24px 16px;
    overflow-x: hidden;
    overflow-y: hidden;

    //MENU SHADOW
    &-dark {
        box-shadow: $menu-shadow;
    }

    .logo {
        width: 100px;
        height: 40px;
        object-fit: contain;
        position: relative;
        top: 3px;
    }

    .burger {
        z-index: 100;
        position: absolute;
        right: 16px;
        top: 28px;

        &:hover {
            cursor: pointer;
        }

        //BURGER LAYOUT
        div {
            width: 10px;
            height: 3px;
            background-color: $neutrals-100;
            margin-top: 3px;
            transition: all $transition-time-short ease;
            position: relative;
            z-index: 101;
        }

        .line1 {
            width: 25px;
        }

        .line2 {
            width: 20px;
        }

        .line3 {
            width: 15px;
        }

        //DARK BURGER LAYOUT
        &.dark {
            div {
                background-color: $neutrals-900;
            }
        }

        //CROSS LAYOUT
        &.toggle {
            z-index: 100;

            .line1 {
                transform: rotate(-45deg) translate(-5px, 6px);
                bottom: 3px;
                right: 1px;
            }

            .line2 {
                display: none;
            }

            .line3 {
                transform: rotate(45deg) translate(-5px, -6px);
                top: 7px;
                right: 1px;
            }

            div {
                background-color: $neutrals-100;
                width: 25px;
                height: 3px;
                position: relative;
            }
        }
    }

    //MOBILE MENU
    .nav-links {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        transform: translateX(100%);
        right: 0;
        height: 100%;
        top: 0;
        z-index: 3;
        transition: transform $transition-time-medium ease-in-out;
        background-color: $primary-500;
        overflow-y: hidden;
        overflow: hidden;

        .link-items {
            position: absolute;
            transform: translate(0%, -50%);
            top: 47%;
            list-style-type: none;
        }

        .button {
            display: inline;
            position: absolute;
            bottom: 50px;
            transform: translate(-50%, 0%);
            left: 50%;
            z-index: 100;
        }

        .logo {
            width: 100px;
            height: 40px;
            object-fit: contain;
        }

        .logo,
        .button {
            opacity: 0;
        }

        //ACTIVE MENU
        &.nav-active {
            transform: translateX(0%);
            z-index: 99;
            height: 100%;
            overflow: hidden;

            .logo,
            .button {
                opacity: 1;
            }

            .nav__link__item {
                display: inline-block;
                //opacity: 1;
                color: $neutrals-100;

                &.active {
                    border-bottom: 4px solid $neutrals-100;
                }
            }
        }

        .logo {
            position: relative;
            top: 24px;
            left: 16px;
        }
    }

    //MENU LINKS
    .nav-links {
        .nav__link {
            display: block;
            font-family: $title-font;
            font-size: 34px;
            line-height: 42px;
            font-weight: 700;
            margin-bottom: 10px;
            color: $neutrals-100;
            text-align: left;
            padding: 0 16px;
            opacity: 0;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .quotation-button {
        display: none;
    }

    //FADE IN ANIMATION
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0%);
        }
    }
}

/* TABLET 768PX - SPACING AANPASSEN NAAR /8 */
@media only screen and (min-width: $tablet-portrait) {
    .nav {
        padding: 30px 50px 20px 50px;

        .nav-links {
            .nav__link {
                padding: 0 50px;
            }

            .logo {
                left: 50px;
            }
        }

        .burger {
            right: 50px;
        }
    }
}

/* DESKTOP 1280PX */
@media screen and (min-width: $desktop-1) {
    .nav {
        height: 110px;
        padding: 30px 100px 30px 100px;
        justify-content: space-between;
        align-items: center;
        gap: 75px;
        height: 110px;

        .nav-links {
            justify-content: center;
            height: 100%;
            top: 0;
            transform: translateX(0%);
            width: auto;
            transition: none;
            position: initial;
            align-items: center;
            padding: 0;
            background: transparent;

            .socials {
                display: none;
            }

            .link-items {
                position: initial;
                transform: translate(0%, 0%);
                top: 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 50px;
            }

            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 50px;

                .nav {
                    &__link {
                        display: inline;
                        margin-bottom: 0;
                        opacity: 1;
                        font-size: 16px;
                        line-height: 20px;
                        font-weight: 600;
                        padding: 0;
                        opacity: 1;

                        &__item {
                            opacity: 1;
                            white-space: nowrap;
                            width: 100%;
                            color: $neutrals-900;
                            border-bottom: 3px solid transparent;

                            &:hover {
                                border-bottom: 3px solid $primary-500;
                            }

                            &.active {
                                border-bottom: 3px solid $primary-500;
                            }
                        }
                    }
                }
            }

            .button-white,
            .logo {
                display: none;
            }
        }

        .burger {
            display: none;
        }

        .quotation-button {
            display: block;
        }
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .nav {
        padding: 40px 100px;
        height: 130px;
        gap: 115px;

        .logo {
            width: 126px;
            height: 50px;
        }

        .nav-links {
            ul {
                .nav {
                    &__link {
                        font-size: 20px;
                        line-height: 28px;
                    }
                }
            }
        }
    }
}

/* DESKTOP - 1600px */
@media only screen and (min-width: $desktop-5) {
    .nav {
        padding: 30px 180px 20px 180px;
    }
}

/* DESKTOP - HD */
@media only screen and (min-width: $desktop-hd) {
    .nav {
        padding: 30px 340px 20px 340px;
    }
}

/* DESKTOP - QHD */
@media only screen and (min-width: $desktop-qhd) {
    .nav {
        padding: 30px 660px 20px 660px;
    }
}

/* DESKTOP - WQHD */
@media only screen and (min-width: $desktop-wqhd) {
    .nav {
        padding: 30px 1100px 20px 1100px;
    }
}

/* DESKTOP - 4K */
@media only screen and (min-width: $desktop-4k) {
    .nav {
        padding: 30px 1300px 20px 1300px;
    }
}