.nav {
    align-items: center;
    height: 80px;
    justify-content: space-between;
    overflow: hidden;
    padding: 24px 16px;

    .logo {
        height: 40px;
        object-fit: contain;
        position: relative;
        top: 4px;
        width: 100px;

        img {
            height: inherit;
            width: inherit;
        }
    }

    //MOBILE MENU
    .nav-links {
        background-color: $primary-500;
        border-radius: 0 $border-radius-medium $border-radius-medium 0;
        border-right: 0.5px solid $primary-100;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        left: 0;
        max-width: 576px;
        overflow: hidden;
        position: fixed;
        transform: translateX(-100%);
        top: 0;
        transition: transform $transition-time-medium ease-in-out;
        width: 75%;
        z-index: 3;

        .link-items {
            list-style-type: none;
            left: 16px;
            position: absolute;
            top: 112px;
            width: calc(100% - 32px);

            .nav__link {
                background-color: $neutrals-100;
                border-radius: $border-radius-medium;
                display: block;
                font-weight: 600;
                font-family: $title-font;
                font-size: 24px;
                font-weight: 500;
                line-height: 32px;
                margin-bottom: 8px;
                opacity: 0;
                padding: 8px 24px;
                text-align: left;

                &__item {
                    color: $neutrals-1000;
                    display: block;

                    &.active {
                        color: $primary-500;
                    }
                }

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        .button {
            bottom: 40px;
            display: inline;
            left: 50%;
            position: absolute;
            transform: translate(-50%, 0%);
            z-index: 100;
        }

        .logo {
            height: 40px;
            left: 16px;
            object-fit: contain;
            position: relative;
            top: 24px;
            width: 100px;
        }

        .logo,
        .button {
            opacity: 0;
        }

        //ACTIVE MENU
        &.nav-active {
            height: 100%;
            overflow: hidden;
            transform: translateX(0%);
            z-index: 99;

            .logo,
            .button {
                opacity: 1;
            }
        }
    }

    .primary-cta {
        display: none;
    }

    //FADE IN ANIMATION
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0%);
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .nav {
        padding: 32px 48px 24px 48px;

        .nav-links {
            .link-items {
                left: 48px;
                width: calc(100% - 96px);

                .nav__link {
                    font-size: 32px;
                    line-height: 36px;
                    padding: 16px 32px;
                }
            }

            .nav__link {
                padding: 0 48px;
            }

            .logo {
                left: 48px;
            }

            .button {
                bottom: 64px;
            }
        }
    }
}

/* DESKTOP 1280PX */
@media screen and (min-width: $desktop-1) {
    .nav {
        align-items: center;
        height: 110px;
        padding: 32px 96px 32px 96px;

        .nav-links {
            align-items: center;
            background: transparent;
            border-radius: 0;
            border-right: none;
            height: 100%;
            justify-content: center;
            position: initial;
            padding: 0;
            top: 0;
            transform: translateX(0%);
            transition: none;
            width: auto;

            .socials {
                display: none;
            }

            .link-items {
                align-items: center;
                display: flex;
                flex-direction: row;
                gap: 40px;
                justify-content: space-between;
                width: 100%;
                position: relative;
                left: 0;
                transform: translate(0%, 0%);
                top: 8px;

                .nav {
                    &__link {
                        background-color: transparent;
                        display: inline;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 20px;
                        margin-bottom: 0;
                        opacity: 1;
                        padding: 0 0 4px;

                        &__item {
                            border-bottom: 3px solid transparent;
                            color: $neutrals-1100;
                            opacity: 1;
                            padding-bottom: 4px;
                            transition: all $transition-time-short ease-in-out;
                            white-space: nowrap;
                            width: 100%;

                            &:hover {
                                border-bottom: 3px solid $primary-500;
                            }

                            &.active {
                                border-bottom: 3px solid $primary-500;
                                color: $neutrals-1100;
                            }
                        }
                    }
                }
            }

            .button-white,
            .logo {
                display: none;
            }
        }

        .primary-cta {
            display: block;
        }
    }

    //NAV HEADER BIG IMAGE
    .header-home {
        .nav {
            gap: 48px;
            justify-content: flex-start;

            .primary-cta {
                display: none;
            }
        }
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .nav {
        height: 130px;
        max-width: 1248px;
        margin: 0 auto;
        padding: 45px 0;

        .logo {
            height: 50px;
            width: 125px;
        }

        //NAV HOME
        &-home {
            gap: 51px;
            left: calc((100vw - 1248px) / 2);
        }
    }
}