// Light mode
.light-mode {
    .blog-filter .form-filter .input {
        background-color: $neutrals-400;
        color: $neutrals-1100;

        &::placeholder {
            color: $neutrals-900;
        }
    }
}

// Dark mode
.dark-mode {
    .blog-filter .form-filter .input {
        background-color: $neutrals-800;
        color: $neutrals-200;

        &::placeholder {
            color: $neutrals-400;
        }
    }
}

// Mobile styling
.blog-filter {
    padding: 0px 16px 32px 16px;

    .form-filter {
        align-items: center;
        display: block;
        display: flex;
        height: 40px;
        justify-content: flex-start;
        margin-bottom: 16px;
        width: 100%;

        .input {
            border-radius: $border-radius-medium 0 0 $border-radius-medium;
            border: none !important;
            font-family: $paragraph-font;
            font-weight: 400;
            font-size: 16px;
            height: 100%;
            line-height: 24px;
            letter-spacing: -0.01em;
            padding: 8px 16px;
            transition: all $transition-time-short ease-in-out;
            width: calc(100% - 118px);

            &:focus {
                outline: none;
            }

            &::-webkit-input-placeholder,
            &:-ms-input-placeholder,
            &::placeholder {
                color: $neutrals-400;
            }
        }

        .button-primary {
            border-radius: 0 $border-radius-medium $border-radius-medium 0;
            max-height: 40px;
            width: 118px;
        }
    }

    .filter-tags {
        align-items: center;
        display: flex;
        justify-content: flex-start;

        &__remove {
            border-right: 1px solid $neutrals-1100;
            display: block;
            margin-right: 8px;
            padding: 0 8px 0 0;

            &__tag {
                background-color: $primary-500 !important;
                border: none;
                color: $neutrals-100 !important;
                outline: none;
                transition: all $transition-time-short ease;
                white-space: nowrap;

                &:hover {
                    background-color: $primary-600 !important;
                    cursor: pointer;
                }
            }
        }

        &__tags {
            display: inline-block;
            height: 24px;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            width: auto;

            .tag {
                border: none;
                outline: none;

                &:hover {
                    cursor: pointer;
                }

                &.active {
                    background-color: $primary-500 !important;
                    color: $neutrals-100 !important;
                }
            }
        }
    }

    .search-feedback {
        margin-top: 16px;
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .blog-filter {
        padding: 0px 48px 48px 48px;
    }
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .blog-filter {
        padding: 0px 178px 64px 178px;
    }
}

/* DESKTOP - 1280px */
@media only screen and (min-width: $desktop-1) {
    .blog-filter {
        padding: 0px 414px 72px;

        .filter-tags {
            &__tags {
                overflow-y: hidden;

                &::-webkit-scrollbar {
                    height: 4px;
                }

                &::-webkit-scrollbar-track {
                    background: $primary-100;
                }

                &::-webkit-scrollbar-thumb {
                    background: $primary-200;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background: $primary-500;
                }
            }
        }
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .blog-filter {
        padding: 0 318px 72px;

        .form-filter {
            height: 44px;

            .input {
                font-size: 20px;
                line-height: 20px;
                width: calc(100% - 134px);
            }

            .button-primary {
                border-radius: 0 $border-radius-medium $border-radius-medium 0;
                max-height: 44px;
                width: 134px;
            }
        }

        .filter-tags {
            &__remove {
                border-right: 1px solid $neutrals-500;
                margin-right: 16px;
                padding: 0 16px 0 0;
            }

            &__tags {
                height: 40px;
            }

            .tag {
                font-size: 16px;
                font-weight: 500;
                line-height: 16px;
                padding: 12px 24px;
            }
        }
    }
}
