.blogposts__articles {
    padding: 0 16px 64px 16px;
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .blogposts__articles {
        padding: 0 48px 64px 48px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px 8px;
    }
}