.blogposts__articles {
    padding: 0 16px 64px 16px;
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .blogposts__articles {
        padding: 0 48px 64px 48px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px 8px;
    }
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .blogposts__articles {
        padding: 0 178px 96px 178px;
    }
}

/* DESKTOP - 1280px */
@media only screen and (min-width: $desktop-1) {
    .blogposts__articles {
        padding: 0 96px;
        grid-template-columns: repeat(3, 1fr);
    }
}

/* DESKTOP - 1600px */
@media only screen and (min-width: $desktop-5) {
    .blogposts__articles {
        padding: 0 178px;
    }
}

/* DESKTOP - HD */
@media only screen and (min-width: $desktop-hd) {
    .blogposts__articles {
        padding: 0 336px;
    }
}

/* DESKTOP - QHD */
@media only screen and (min-width: $desktop-qhd) {
    .blogposts__articles {
        padding: 0 656px;
    }
}

/* DESKTOP - WQHD */
@media only screen and (min-width: $desktop-wqhd) {
    .blogposts__articles {
        padding: 0 1096px;
    }
}

/* DESKTOP - 4K */
@media only screen and (min-width: $desktop-4k) {
    .blogposts__articles {
        padding: 0 1296px;
    }
}