.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* DESKTOP - 1280PX */
@media only screen and (min-width: $desktop-1) {
    .flex-desktop {
        display: flex;
    }
}