/* PRIMARY COLOR SHADES -> of Bakery */
$primary-100: #F7F1EA;
$primary-200: #E7D6C1;
$primary-300: #D7BB97;
$primary-400: #C79F6D;
$primary-500: #8C5E26;
$primary-600: #69471C;
$primary-700: #69471C;
$primary-800: #462F13;
$primary-900: #34230E;



/* SECONDARY COLOR SHADES -> not being used at the moment */
$secondary-100: #FEF3EC;
$secondary-200: #FCDAC5;
$secondary-300: #FAC29F;
$secondary-400: #F8AA79;
$secondary-500: #F5853F;
$secondary-600: #DD7839;
$secondary-700: #AC5D2C;
$secondary-800: #7B4320;
$secondary-900: #492813;



/* GREY SHADES */
$neutrals-100: #FFFFFF;
$neutrals-200: #FAFAFF;
$neutrals-300: #F8F9FA;
$neutrals-400: #E9ECEF;
$neutrals-500: #DEE2E6;
$neutrals-600: #CED4DA;
$neutrals-700: #ADB5BD;
$neutrals-800: #6C757D;
$neutrals-900: #495057;
$neutrals-1000: #343A40;
$neutrals-1100: #232323;
$neutrals-1200: #000000;

$dark-mode-grey-bg: #414950;



/* SPECIAL COLOR SHADES -> not being used at the moment */
$specials-100: #FBF8F3;



/* SEMANTIC COLORS */
$error-100: #FCE6E6;
$error-300: #F08380;
$error-500: #E10600;

$success-100: #DBF0D9;
$success-300: #A5DAA1;
$success-500: #4BB543;

$alert-100: #FFF1E7;
$alert-500: #FB750E;

$info-100: #E7F1FB;
$info-500: #1077DA;