/* TRANSITIONS
$transition-time-short: 0.3s;
$transition-time-medium: 0.5s;
$transition-time-long: 0.75s;

// SHADOWS
$card-shadow: 0px 4px 4px rgba(52, 118, 246, 0.13);
$menu-shadow: 0px 4px 8px rgba(235, 241, 254, 0.35);
$assortment-set-shadow: 0px 4px 4px rgba(37, 37, 37, 0.05); */