body {
    background-color: lightblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    &::selection {
        background: $primary-100;
        color: $primary-500;
    }
}

body,
html {
    overflow-x: hidden;
}

html,
body {
    position: relative;
    max-width: 100%;
    overflow-x: hidden;
}

html {
    height: 100%;
}

body {
    background-color: $neutrals-100;
    min-height: -webkit-fill-available;
    overflow-x: hidden !important;
    max-width: 100% !important;
}

.stop-scrolling {
    height: 100%;
    max-height: -webkit-fill-available;
    overflow: hidden;
    overflow-y: hidden;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: $neutrals-1000;
    display: inline-block;

    &:hover {
        cursor: pointer !important;
    }
}

// Contactform
.honeypot {
    position: absolute;
    left: -9999px;
}