/* BORDER-RADIUS */
$border-radius-small: 4px;
$border-radius-medium: 8px;
$border-radius-lg: 12px;
$border-radius-xlg: 16px;

$border-card-thin: 0.4px solid $neutrals-400;
$border-card-thin-dark-mode: 0.4px solid $neutrals-800;

$icon-margin-button: 6px;
$icon-margin-button-hover: 10px;

/* SCREEN SIZES */
$tablet-portrait: 768px;
$tablet-landscape: 1024px;

$desktop-1: 1280px;
$desktop-2: 1366px;
$desktop-3: 1440px;
$desktop-4: 1536px;
$desktop-5: 1600px;
$desktop-hd: 1920px;
$desktop-qhd: 2560px;
$desktop-wqhd: 3440px;
$desktop-4k: 3840px;