// Light mode
.light-mode {
    .testimonials-section {
        background-color: $neutrals-200;
    }
}

// Dark mode
.dark-mode {
    .testimonials-section {
        background-color: $neutrals-1000;
    }
}

// Mobile styling
.testimonials-section {
    transition: all $transition-time-short ease-in-out;

    h2 {
        margin-bottom: 32px;
        text-align: center;
    }

    .testimonials-items {
        margin-bottom: 24px;
    }

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .testimonials-section {
        padding: 96px 178px;

        h2 {
            margin-bottom: 48px;
        }
    }
}

/* DESKTOP - 1280px */
@media only screen and (min-width: $desktop-1) {
    .testimonials-section {
        padding: 128px 308px;

        h2 {
            margin-bottom: 72px;
        }
    }
}

/* DESKTOP - 1440px */
@media only screen and (min-width: $desktop-3) {
    .testimonials-section {
        padding: 128px 0px;

        .testimonials {
            max-width: 824px !important;
            margin: 0 auto !important;
        }
    }
}