.clients-section {
    background-color: $neutrals-200;
    
    h2 {
        text-align: center;
        margin-bottom: 32px;
    }

    .clients {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .clients-section {
        .clients {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}