//HOME CTAs
.container-home {
    .cta {
        background-color: $primary-500;

        h2 {
            color: $neutrals-100;
        }

        &:last-of-type {
            background-color: $primary-100;

            h2 {
                color: $neutrals-1100;

                span {
                    color: $primary-500;
                }
            }

            .buttons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 8px;

                .button {
                    display: block;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .container-home {
        .cta {
            &:last-of-type {
                .buttons {
                    justify-content: flex-start;

                    .button {
                        display: inline-block;
                        width: initial;
                        text-align: initial;
                    }
                }
            }
        }
    }
}
