.container-home {
    .cta {
        background-color: $primary-500;
        
        h2 {
            color: $neutrals-100;
        }

        &:last-of-type {
            background-color: $primary-100;

            h2 {
                color: $neutrals-1100;

                span {
                    color: $primary-500;
                }
            }

            .buttons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 8px;

                .button {
                    display: block;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}