//HOME CTAs
.container-home {
    .cta {

        //First CTA
        &__content {
            background-color: $primary-500;

            .button-primary {
                background-color: $neutrals-100;
                color: $primary-500;
            }
        }

        h2 {
            color: $neutrals-100;
        }

        //Second CTA
        &:last-of-type {
            background-color: $primary-100;

            .cta__content {
                background-color: $primary-100;

                .button-primary {
                    background-color: $primary-500;
                    color: $neutrals-100;
                }
            }

            h2 {
                color: $neutrals-1100;

                span {
                    color: $primary-500;
                }
            }
        }
    }

    //Desktop CTA services
    .services-section {
        .cta__content {
            display: none;
        }
    }
}

/* DESKTOP - 1280px */
@media only screen and (min-width: $desktop-1) {
    .container-home {

        //First CTA
        #cta-1 {
            display: none;
        }

        //Desktop CTA services
        .services-section {
            .cta__content {
                display: flex;
                background-color: $primary-100;

                h2 {
                    span {
                        color: $primary-500;
                    }
                }

                .button-primary {
                    background-color: $primary-500;
                    color: $neutrals-100;
                }
            }
        }
    }
}