// Light mode
.light-mode {
    .header-home {
        background-color: $neutrals-200;

        &__content {
            &__text h1 span {
                color: $primary-500;
            }

            .header__content__image picture img {
                filter: $image-brightness-light-mode;
            }
        }
    }
}

// Dark mode
.dark-mode {
    .header-home {
        background-color: $neutrals-1000;

        &__content {
            &__text h1 span {
                color: $neutrals-200;
            }

            .header__content__image picture img {
                filter: $image-brightness-dark-mode;
            }
        }
    }
}

// Mobile styling
.header-home {
    transition: background-color $transition-time-short ease-in-out;

    &__content {
        &__text {
            padding: 24px 16px 48px 16px;

            h1 {
                margin-bottom: 16px;

                span {
                    transition: color $transition-time-short ease-in-out;
                }
            }

            p {
                margin-bottom: 24px;
            }
        }

        .header__content__image {
            aspect-ratio: 3/2;
            height: auto;
            width: 100%;

            img {
                position: relative;
                transition: filter $transition-time-short ease-in-out;
                height: 100%;
                object-fit: cover;
                width: 100%;
                border-radius: 0;
            }
        }
    }
}

/* TABLET PORTRAIT - 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .header-home {
        &__content {
            &__text {
                padding: 48px;
            }
        }
    }
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .container:has(.usp-bar) {
        .header-home__content {
            height: calc(100vh - 42px);
        }
    }

    .header-home {
        position: relative;

        .nav {
            position: absolute;
            width: 100%;
        }

        &__content {
            align-items: center;
            display: flex;
            height: 100vh;
            justify-content: space-between;
            max-height: 1440px;
            overflow: hidden;
            position: relative;
            top: 0;

            &__text {
                width: 50%;
            }

            .header__content__image {
                height: 100vh;
                overflow: hidden;
                position: absolute;
                right: -12%;
                top: 0;
                transform: skew(-10deg);
                width: 60%;

                img {
                    height: 120%;
                    left: -10%;
                    object-fit: cover;
                    position: absolute;
                    transform: skew(10deg);
                    width: 120%;
                }
            }
        }

        .scroll-down {
            bottom: 48px;
            left: 48px;
        }
    }
}

/* DESKTOP 1280PX */
@media screen and (min-width: $desktop-1) {
    .container:has(.usp-bar) {
        .header-home__content {
            height: calc(100vh - 50px);
            max-height: 1390px;
        }
    }

    .header-home {
        &__content {
            &__text {
                padding: 0px 96px 0px 96px;

                h1 {
                    margin-bottom: 24px;
                }
            }
        }

        .scroll-down {
            bottom: 72px;
            left: 96px;
        }
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .header-home {
        &__content {
            &__text {
                padding: 0 16px 0 96px;
                padding-left: calc((100vw - 1248px) / 2);
                width: 50%;
            }
        }

        .scroll-down {
            left: calc((100vw - 1248px) / 2);
        }
    }
}
