.header-home {
    &__content {
        &__text {
            padding: 24px 16px 48px 16px;

            h1 {
                margin-bottom: 16px;

                span {
                    color: $primary-500;
                }
            }

            p {
                margin-bottom: 24px;
            }

            .buttons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 8px;

                .button {
                    display: block;
                    width: 100%;
                    text-align: center;
                }
            }
        }

        &__image {
            width: 100%;
            height: auto;
            aspect-ratio: 3/2;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

/* TABLET PORTRAIT - 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .header-home {
        &__content {
            &__text {
                padding: 48px;

                .buttons {
                    justify-content: flex-start;
                    
                    .button {
                        display: inline-block;
                        width: initial;
                        text-align: initial;
                    }
                }
            }
        }
    }
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .header-home {
        position: relative;

        .nav {
            position: absolute;
            width: 100%;
        }

        &__content {
            height: 100vh;
            position: relative;
            top: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-height: 1440px;
            overflow: hidden;

            &__text {
                width: 50%;
            }

            .header__content__image {
                height: 100vh;
                width: 60%;
                transform: skew(-10deg);
                position: absolute;
                top: 0;
                right: -12%;
                overflow: hidden;

                img {
                    width: 120%;
                    height: 120%;
                    object-fit: cover;
                    transform: skew(10deg);
                    position: absolute;
                    left: -10%;
                }
            }
        }

        .scroll-down {
            bottom: 48px;
            left: 48px;
        }
    }
}

/* DESKTOP 1280PX */
@media screen and (min-width: $desktop-1) {
    .header-home {
        background-color: $neutrals-200;
        
        &__content {
            &__text {
                padding: 0px 96px 0px 96px;

                h1 {
                    margin-bottom: 24px;
                }
            }
        }

        .scroll-down {
            bottom: 72px;
            left: 96px;
        }
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .header-home {
        &__content {
            &__text {
                width: 50%;
                padding: 0 16px 0 96px;
                padding-left: calc((100vw - 1248px) / 2);
            }
        }

        .scroll-down {
            left: calc((100vw - 1248px) / 2);
        }
    }
}

/* DESKTOP - 1600px */
@media only screen and (min-width: $desktop-5) {
    .header-home {
        &__content {
            &__text {
                //padding: 0 16px 0 176px;
            }
        }

        .scroll-down {
            //left: 176px;
        }
    }
}

/* DESKTOP - HD */
@media only screen and (min-width: $desktop-hd) {
    .header-home {
        &__content {
            &__text {
                //padding: 0 16px 0 336px;
            }
        }

        .scroll-down {
            //left: 336px;
        }
    }
}

/* DESKTOP - QHD */
@media only screen and (min-width: $desktop-qhd) {
    .header-home {
        &__content {
            &__text {
                //padding: 0 16px 0 656px;
            }
        }

        .scroll-down {
            //left: 656px;
        }
    }
}

/* DESKTOP - WQHD */
@media only screen and (min-width: $desktop-wqhd) {
    .header-home {
        &__content {
            &__text {
                //padding: 0 16px 0 1096px;
            }
        }

        .scroll-down {
            //left: 1096px;
        }
    }
}

/* DESKTOP - 4K */
@media only screen and (min-width: $desktop-4k) {
    .header-home {
        &__content {
            &__text {
                //padding: 0 16px 0 1296px;
            }
        }

        .scroll-down {
            //left: 1296px;
        }
    }
}