// Light mode
.light-mode {
    .services-section {
        background-color: $neutrals-200;
    }
}

// Dark mode
.dark-mode {
    .services-section {
        background-color: $neutrals-1000;
    }
}

// Mobile styling
.services-section {
    padding: 64px 16px 48px 16px;
    transition: all $transition-time-short ease-in-out;

    h2 {
        margin-bottom: 32px;
        text-align: center;
    }

    .cta__content {
        display: none;
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .services-section {
        padding: 64px 48px;
    }
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .services-section {
        padding: 96px 48px;

        h2 {
            margin-bottom: 48px;
        }

        .services {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 24px;
        }
    }
}

/* DESKTOP - 1280px */
@media only screen and (min-width: $desktop-1) {
    .light-mode {
        .services-section .cta__content {
            background-color: $primary-100;
            border: $border-card-thin;
        }
    }

    .dark-mode {
        .services-section .cta__content {
            background-color: $dark-mode-grey-bg;
            border: $border-card-thin-dark-mode;

            h2, h2 span {
                color: $neutrals-200 !important;
            }
        }
    }

    .services-section {
        padding: 128px 96px;

        h2 {
            margin-bottom: 72px;
        }

        .services {
            margin-bottom: 72px;
        }

        .cta__content {
            display: flex;
        }
    }
}