.bullet {
    width: 7px;
    height: 7px;
    border-radius: $border-radius-small;
    background-color: $neutrals-500;
    transition: all $transition-time-short;

    &.active {
        width: 21px;
        background-color: $primary-500;
    }
}