.clients {
    .client {
        background-color: $neutrals-100;
        border-radius: $border-radius-medium;
        box-shadow: $card-shadow;
        border: 0.5px solid $neutrals-400;
        height: 70px;
        position: relative;
        width: 100%;

        img {
            height: 50px;
            left: 50%;
            object-fit: contain;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            width: 100px;
        }
    }
}

/* DESKTOP - 1280px */
@media only screen and (min-width: $desktop-1) {
    .clients {
        .client {
            height: 120px;
            transition: all $transition-time-short ease-in-out;
            width: 100%;

            &:hover {
                box-shadow: $card-shadow-hover;
            }

            img {
                height: 70px;
                width: 120px;
            }
        }
    }
}