.service {
    padding: 24px;
    border-radius: $border-radius-medium;
    border: 0.5px solid $neutrals-400;
    box-shadow: $card-shadow;
    margin-bottom: 16px;
    background-color: $neutrals-200;

    &:last-child {
        margin-bottom: 0;
    }

    &__icon-container {
        width: 50px;
        height: 50px;
        background-color: $primary-500;
        border-radius: $border-radius-medium;
        margin-bottom: 16px;

        i {
            font-size: 20px;
            line-height: 20px;
            width: 20px;
            height: 20px;
            position: relative;
            top: 15px;
            left: 15px;
            color: $neutrals-100;
        }
    }

    h3 {
        margin-bottom: 8px;
    }
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .service {
        margin-bottom: 0;
    }
}

/* DESKTOP 1280PX */
@media screen and (min-width: $desktop-1) {
    .service {
        background-color: $neutrals-100;

        &__icon-container {
            margin-bottom: 24px;
        }

        h3 {
            margin-bottom: 16px;
        }
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .service {
        h3 {
            font-size: 32px;
            line-height: 36px;
        }
    }
}