// Light mode
.light-mode {
    .testimonial {
        background-color: $neutrals-100;
        border: $border-card-thin;

        &__p .quotes {
            color: $primary-200;
        }
    }
}

// Dark mode
.dark-mode {
    .testimonial {
        background-color: $dark-mode-grey-bg;
        border: $border-card-thin-dark-mode;

        &__p .quotes {
            color: $neutrals-1000;
        }
    }
}

// Mobile styling
.testimonial {
    border-radius: $border-radius-medium;
    box-shadow: $card-shadow;
    padding: 24px;
    position: relative;
    transition: all $transition-time-short ease-in-out;
    width: 100%;

    &__logo {
        height: 40px;
        margin-bottom: 32px;
        width: 100px;
    }

    &__p {
        margin-bottom: 20px;
        margin-top: 24px;
        position: relative;
        z-index: 1;

        .quotes {
            color: $primary-200;
            font-size: 50px;
            line-height: 50px;
            left: 0;
            position: absolute;
            transition: color $transition-time-short ease-in-out;
            top: -24px;
            z-index: 0;
        }

        > p {
            position: relative;
            z-index: 1;
        }
    }

    &__id {
        align-items: center;
        gap: 10px;
        justify-content: flex-start;
        margin-bottom: 20px;

        &__picture {
            border-radius: $border-radius-medium;
            height: 50px;
            object-fit: cover;
            width: 50px;
        }

        &__name {
            color: $primary-500;
            margin-bottom: 3px;
        }

        &__function {
            line-height: 16px;
        }
    }

    .arrows {
        align-items: center !important;
        gap: 7px !important;
        height: 40px;
        justify-content: flex-start !important;

        .prev,
        .next {
            background-color: $primary-500;
            border-radius: $border-radius-medium;
            cursor: pointer !important;
            height: 40px;
            margin-top: 0;
            opacity: 1 !important;
            position: initial !important;
            pointer-events: all;
            text-align: center;
            transition: all $transition-time-short;
            width: 40px;

            &:after {
                content: none;
            }

            &:hover {
                background-color: $primary-600;
            }

            i {
                color: $neutrals-100;
                font-size: 16px;
                height: 16px;
                line-height: 16px;
                width: 14px;
            }
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .testimonial {
        padding: 48px;
    }
}

/* DESKTOP - 1280px */
@media only screen and (min-width: $desktop-1) {
    .testimonial {
        &__logo {
            height: 70px;
            margin-bottom: 48px;
            width: 140px;
        }
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .testimonial {
        padding: 72px 212px 72px 212px !important;

        .arrows {
            align-items: center;
            display: flex;
            justify-content: space-between !important;
            left: 0;
            padding: 0 72px;
            position: absolute;
            transform: translate(0%, -50%);
            top: 50%;
            width: 100%;
        }
    }
}
